<section class="add-note pt-10 pt-xs-20 pb-170 pb-xs-60"  cg-busy="{promise:promise,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}">
	<form method="post" autocomplete="off" name="notesForm" id="notesForm" ng-submit="submit()">
	<div class="container width-990">
		<h1 class="title">{{'AddMyTastingNote' | translate}}</h1>
	</div>
	<div class="bg-grey pt-30 pb-30 pt-xs-10 pb-xs-10">
		<div class="container width-990 product-item">
			<div class="clearfix">
				<div class="pull-left xs-pull-none mb-xs-10">
					<a href="#productDetails/{{product.catalog.name}}/{{product.catalog.vintage}}"><h2 class="name m-0" ng-bind-html="product.catalog.name"></h2></a>
				</div>
				<div class="pull-right xs-pull-none">
					<div class="details font-11">
						<span class="text-grey">{{'Year' | translate}}:</span> {{product.catalog.vintage}}<br />
						<!--<span class="text-grey">{{'Category' | translate}}:</span> {{product.catalog.name}}-->
                        <span class="text-grey">{{'Category' | translate}}:</span> {{product.overall_tasting_note.color.base}}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container width-990">
    <div class="alert alert-danger" id="alert-danger" ng-bind-html="invalidMsg" style="display:none">
 
</div>
		<hr class="mt-30 mb-15 mt-xs-15" />
		<h3 class="s-title">{{'Look' | translate}}</h3>
		<div class="form-item clearfix pro">
			<div class="form-name pull-left">{{'Clarity' | translate}}</div>
			<div class="form-content pull-right">
				<div class="form-dot">
					<label class="dot-a active" for="clarity-1"><span>clear</span><input type="radio" name="clarity" class="invisible" id="clarity-1" value="0" checked  ng-model="formData.appearance.clarity"/><dot></dot></label>
					<label class="dot-a" for="clarity-2"><span></span><input type="radio" name="clarity" class="invisible" id="clarity-2" value="1" ng-model="formData.appearance.clarity" /></label>
					<label class="dot-a" for="clarity-3"><span>off dry</span><input type="radio" name="clarity" class="invisible" id="clarity-3" value="2" ng-model="formData.appearance.clarity" /></label>
					<label class="dot-a" for="clarity-4"><span></span><input type="radio" name="clarity" class="invisible" id="clarity-4" value="3" ng-model="formData.appearance.clarity" /></label>
					<label class="dot-a" for="clarity-5"><span>hazy</span><input type="radio" name="clarity" class="invisible" id="clarity-5" value="4" ng-model="formData.appearance.clarity" /></label>
				</div>
			</div>
		</div>
		<div class="form-item clearfix pro">
			<div class="form-name pull-left">{{'Intensity' | translate}}</div>
			<div class="form-content pull-right">
				<div class="form-dot">
					<label class="dot-a active" for="intensity-1"><span>pale</span><input type="radio" name="intensity" class="invisible" id="intensity-1" value="0" checked   ng-model="formData.appearance.intensity" /><dot></dot></label>
					<label class="dot-a" for="intensity-2"><span></span><input type="radio" name="intensity" class="invisible" id="intensity-2" value="1" ng-model="formData.appearance.intensity"  /></label>
					<label class="dot-a" for="intensity-3"><span>medium</span><input type="radio" name="intensity" class="invisible" id="intensity-3" value="3" ng-model="formData.appearance.intensity"  /></label>
					<label class="dot-a" for="intensity-4"><span></span><input type="radio" name="intensity" class="invisible" id="intensity-4" value="3" ng-model="formData.appearance.intensity"  /></label>
					<label class="dot-a" for="intensity-5"><span>deep</span><input type="radio" name="intensity" class="invisible" id="intensity-5" value="4" ng-model="formData.appearance.intensity"  /></label>
				</div>
			</div>
		</div>
		<div class="form-item clearfix color short">
			<div class="form-name pull-left">{{'Color' | translate}}</div>
			<div class="form-content pull-right">
			
				<div class="short-item color-item">
					<div class="short-name">Base</div>
					<div class="color-wp">
            <label class="color-a" for="color-1"><span>straw</span><bar style="background-color: #EBE3B2;"></bar><input type="radio" name="red" class="invisible" id="color-1" value="1"  ng-model="formData.appearance.color.base" /></label>
            <label class="color-a" for="color-2"><span>yellow</span><bar style="background-color: #F5ED7E;"></bar><input type="radio" name="red" class="invisible" id="color-2" value="2"  ng-model="formData.appearance.color.base" /></label>
            <label class="color-a" for="color-3"><span>gold</span><bar style="background-color: #F3DE75;"></bar><input type="radio" name="red" class="invisible" id="color-3" value="3"  ng-model="formData.appearance.color.base" /></label>
            <label class="color-a" for="color-4"><span>amber</span><bar style="background-color: #F8A837;"></bar><input type="radio" name="red" class="invisible" id="color-4" value="4"  ng-model="formData.appearance.color.base" /></label>
            <label class="color-a" for="color-5"><span>brown</span><bar style="background-color: #CE982C;"></bar><input type="radio" name="red" class="invisible" id="color-5" value="5"  ng-model="formData.appearance.color.base" /></label>
            <label class="color-a" for="color-6"><span>purple</span><bar style="background-color: #C42053;"></bar><input type="radio" name="red" class="invisible" id="color-6" value="6"  ng-model="formData.appearance.color.base"  /></label>
            <label class="color-a" for="color-7"><span>ruby</span><bar style="background-color: #921A36;"></bar><input type="radio" name="red" class="invisible" id="color-7" value="7" ng-model="formData.appearance.color.base"  /></label>
            <label class="color-a" for="color-8"><span>garnet</span><bar style="background-color: #6F0F11;"></bar><input type="radio" name="red" class="invisible" id="color-8" value="8" ng-model="formData.appearance.color.base"  /></label>
            <label class="color-a" for="color-9"><span>tawny</span><bar style="background-color: #491812;"></bar><input type="radio" name="red" class="invisible" id="color-9" value="9" ng-model="formData.appearance.color.base"  /></label>
            <label class="color-a" for="color-10"><span>brown</span><bar style="background-color: #332211;"></bar><input type="radio" name="red" class="invisible" id="color-10" value="10" ng-model="formData.appearance.color.base"  /></label>
            <label class="color-a" for="color-11"><span>pink</span><bar style="background-color: #F5C7C7;"></bar><input type="radio" name="red" class="invisible" id="color-11" value="11"  ng-model="formData.appearance.color.base" /></label>
            <label class="color-a" for="color-12"><span>deep pink</span><bar style="background-color: #F16E76;"></bar><input type="radio" name="red" class="invisible" id="color-12" value="12"  ng-model="formData.appearance.color.base" /></label>
            <label class="color-a" for="color-13"><span>salmon</span><bar style="background-color: #F2876F;"></bar><input type="radio" name="red" class="invisible" id="color-13" value="13"  ng-model="formData.appearance.color.base" /></label>
            <label class="color-a" for="color-14"><span>deep salmon</span><bar style="background-color: #EC6240;"></bar><input type="radio" name="red" class="invisible" id="color-14" value="14"  ng-model="formData.appearance.color.base" /></label>
            <label class="color-a" for="color-15"><span>copper</span><bar style="background-color: #D0492B;"></bar><input type="radio" name="red" class="invisible" id="color-15" value="15"  ng-model="formData.appearance.color.base" /></label>
					  
					</div>
					<div class="cross"></div>
				</div>
				
			</div>
		</div>
		<div class="form-item clearfix color ">
			<div class="form-name pull-left">{{'Color' | translate}}</div>
            <div class="short-name">Intensity</div>
			<div class="form-content pull-right">
				<div class="form-dot">
					<label class="dot-a active" for="cintensity-1"><span>low</span><input type="radio" name="cintensity" class="invisible" id="cintensity-1" value="1" checked   ng-model="formData.appearance.color.intensity" /><dot></dot></label>
					<label class="dot-a" for="cintensity-2"><span></span><input type="radio" name="cintensity" class="invisible" id="cintensity-2" value="2" ng-model="formData.appearance.color.intensity"  /></label>
					<label class="dot-a" for="cintensity-3"><span>medium</span><input type="radio" name="cintensity" class="invisible" id="cintensity-3" value="3" ng-model="formData.appearance.color.intensity"  /></label>
					<label class="dot-a" for="cintensity-4"><span></span><input type="radio" name="cintensity" class="invisible" id="cintensity-4" value="4" ng-model="formData.appearance.color.intensity"  /></label>
					<label class="dot-a" for="cintensity-5"><span>high</span><input type="radio" name="cintensity" class="invisible" id="cintensity-5" value="5" ng-model="formData.appearance.color.intensity"  /></label>
				</div>
			</div>
		</div>
		<div class="form-item clearfix short pro mt-10">
			<div class="form-name pull-left">{{'Other' | translate}}</div>
			<div class="form-content pull-right">
				<div class="short-item">
					<div class="short-name">{{'Legs' | translate}}</div>
					<div class="form-dot">
						<label class="dot-a active" for="legs-1"><span>none</span><input type="radio" name="legs" class="invisible" id="legs-1" value="0" checked ng-model="formData.appearance.legs"  /><dot></dot></label>
						<label class="dot-a" for="legs-2"><span></span><input type="radio" name="legs" class="invisible" id="legs-2" value="1" ng-model="formData.appearance.legs" /></label>
						<label class="dot-a" for="legs-3"><span>few</span><input type="radio" name="legs" class="invisible" id="legs-3" value="2" ng-model="formData.appearance.legs" /></label>
						<label class="dot-a" for="legs-4"><span></span><input type="radio" name="legs" class="invisible" id="legs-4" value="3" ng-model="formData.appearance.legs" /></label>
						<label class="dot-a" for="legs-5"><span>plenty</span><input type="radio" name="legs" class="invisible" id="legs-5" value="4" ng-model="formData.appearance.legs" /></label>
					</div>
				</div>
				<div class="short-item">
					<div class="short-name">{{'Deposit' | translate}}</div>
					<div class="form-dot">
						<label class="dot-a active" for="deposit-1"><span>none</span><input type="radio" name="deposit" class="invisible" id="deposit-1" value="0" checked ng-model="formData.appearance.deposit" /><dot></dot></label>
						<label class="dot-a" for="deposit-2"><span></span><input type="radio" name="deposit" class="invisible" id="deposit-2" value="1" ng-model="formData.appearance.deposit" /></label>
						<label class="dot-a" for="deposit-3"><span>few</span><input type="radio" name="deposit" class="invisible" id="deposit-3" value="2" ng-model="formData.appearance.deposit" /></label>
						<label class="dot-a" for="deposit-4"><span></span><input type="radio" name="deposit" class="invisible" id="deposit-4" value="3" ng-model="formData.appearance.deposit" /></label>
						<label class="dot-a" for="deposit-5"><span>plenty</span><input type="radio" name="deposit" class="invisible" id="deposit-5" value="4" ng-model="formData.appearance.deposit" /></label>
					</div>
				</div>
				<div class="short-item">
					<div class="short-name">{{'Bubbles' | translate}}</div>
					<div class="form-dot">
						<label class="dot-a active" for="bubbles-1"><span>small</span><input type="radio" name="bubbles" class="invisible" id="bubbles-1" value="0" checked ng-model="formData.appearance.bubbles"/><dot></dot></label>
						<label class="dot-a" for="bubbles-2"><span></span><input type="radio" name="bubbles" class="invisible" id="bubbles-2" value="1" ng-model="formData.appearance.bubbles" /></label>
						<label class="dot-a" for="bubbles-3"><span>medium</span><input type="radio" name="bubbles" class="invisible" id="bubbles-3" value="2" ng-model="formData.appearance.bubbles" /></label>
						<label class="dot-a" for="bubbles-4"><span></span><input type="radio" name="bubbles" class="invisible" id="bubbles-4" value="3"  ng-model="formData.appearance.bubbles" /></label>
						<label class="dot-a" for="bubbles-5"><span>big</span><input type="radio" name="bubbles" class="invisible" id="bubbles-5" value="4" ng-model="formData.appearance.bubbles" /></label>
					</div>
				</div>
			</div>
		</div>
		<hr class="mt-10 mb-15 mt-xs-5" />
		<h3 class="s-title">{{'Smell' | translate}}</h3>
		<div class="form-item clearfix mt-10 smell">
			<div class="form-name pull-left"></div>
			<div class="form-content pull-right">
				<div class="form-tag">
					<div class="tag" style="display: none;"></div>
					<input id="inputtags" type="text" placeholder="Search" data-placeholder="Search"   />
					<div class="form-suggest"></div>
					
				
				</div>
			</div>
		</div>
		<div class="smell relative mt-xs-5">
			<div class="form-item clearfix mt-30 mt-xs-0">
				<div class="form-name pull-left"></div>
				<div class="form-content pull-right">
				  <!-- please use API: https://winebatapi.docs.apiary.io/#reference/0/smell/tasting-input -->
				  
					<label class="radio-a"><i class="icon-" style="background-image: url(https://s3-ap-southeast-1.amazonaws.com/alcoholics-beverages/tasting-icons/strawberry.svg)" name="strawberry"></i><g>strawberry</g></label>
					<label class="radio-a"><i class="icon-" style="background-image: url(https://s3-ap-southeast-1.amazonaws.com/alcoholics-beverages/tasting-icons/cherry.svg)" name="cherry"></i><g>cherry</g></label>
					<label class="radio-a"><i class="icon-" style="background-image: url(https://s3-ap-southeast-1.amazonaws.com/alcoholics-beverages/tasting-icons/lemon.svg)" name="lemon"></i><g>lemon</g></label>
					<label class="radio-a"><i class="icon-" style="background-image: url(https://s3-ap-southeast-1.amazonaws.com/alcoholics-beverages/tasting-icons/apple.svg)" name="apple"></i><g>apple</g></label>
					<label class="radio-a"><i class="icon-" style="background-image: url(https://s3-ap-southeast-1.amazonaws.com/alcoholics-beverages/tasting-icons/coffee.svg)" name="coffee"></i><g>coffee</g></label>
					<label class="radio-a"><i class="icon-flower" name="flower"></i><g>flower</g></label>
				</div>
			</div>
			<div class="form-item clearfix mt-20 smell-more" ng-repeat = "(category , categorys) in inputs">
				<div class="form-name pull-left">{{category}}</div>
				<div class="form-content pull-right {{category}}" >
				
					<label class="radio-a"  ng-repeat = "input in categorys"><i class="icon-{{input.name.replace(' ', '')}}" name="{{input.name}}" style="background-image: url('{{input.img_url}}')"></i><g>{{input.name}}</g></label>
					
				</div>
			</div>
           
			<button type="button" class="btn-a more-opener">{{'More' | translate}}...</button>
			<button type="button" class="btn-a more-closer" style="display: none;">{{'Fewer' | translate}}...</button>
					
			<script>
				$(".smell .more-opener").click(function(){
					$(".smell-more").addClass("open");
					$(".smell .more-opener").hide();
					$(".smell .more-closer").show();
				});
				
				$(".smell .more-closer").click(function(){
					$(".smell-more").removeClass("open");
					$(".smell .more-opener").show();
					$(".smell .more-closer").hide();
				});
			</script>
		</div>
		<hr class="mt-15 mb-15" />
		<h3 class="s-title">{{'Taste' | translate}}</h3>
		<div class="form-item clearfix">
			<div class="form-name pull-left">{{'Sweetness' | translate}}</div>
			<div class="form-content pull-right">
				<div class="form-dot">
					<label class="dot-a active" for="sweetness-1"><span>very dry</span><input type="radio" name="sweetness" class="invisible" id="sweetness-1" value="1" checked ng-model="formData.taste.sweetness" /><dot></dot></label>
					<label class="dot-a" for="sweetness-2"><span></span><input type="radio" name="sweetness" class="invisible" id="sweetness-2" value="2" ng-model="formData.taste.sweetness" /></label>
					<label class="dot-a" for="sweetness-3"><span>off dry</span><input type="radio" name="sweetness" class="invisible" id="sweetness-3" value="3" ng-model="formData.taste.sweetness" /></label>
					<label class="dot-a" for="sweetness-4"><span></span><input type="radio" name="sweetness" class="invisible" id="sweetness-4" value="4" ng-model="formData.taste.sweetness" /></label>
					<label class="dot-a" for="sweetness-5"><span>very sweet</span><input type="radio" name="sweetness" class="invisible" id="sweetness-5" value="5" ng-model="formData.taste.sweetness" /></label>
				</div>
			</div>
		</div>
		<div class="form-item clearfix">
			<div class="form-name pull-left">{{'Acidity' | translate}}</div>
			<div class="form-content pull-right">
				<div class="form-dot">
					<label class="dot-a active" for="acidity-1"><span>low</span><input type="radio" name="acidity" class="invisible" id="acidity-1" value="1" checked ng-model="formData.taste.acidity" /><dot></dot></label>
					<label class="dot-a" for="acidity-2"><span></span><input type="radio" name="acidity" class="invisible" id="acidity-2" value="2" ng-model="formData.taste.acidity" /></label>
					<label class="dot-a" for="acidity-3"><span>medium</span><input type="radio" name="acidity" class="invisible" id="acidity-3" value="3" ng-model="formData.taste.acidity" /></label>
					<label class="dot-a" for="acidity-4"><span></span><input type="radio" name="acidity" class="invisible" id="acidity-4" value="4" ng-model="formData.taste.acidity" /></label>
					<label class="dot-a" for="acidity-5"><span>high</span><input type="radio" name="acidity" class="invisible" id="acidity-5" value="5" ng-model="formData.taste.acidity" /></label>
				</div>
			</div>
		</div>
		<div class="form-item clearfix">
			<div class="form-name pull-left">{{'Tannin' | translate}}</div>
			<div class="form-content pull-right">
				<div class="form-dot">
					<label class="dot-a active" for="tannin-1"><span>low</span><input type="radio" name="tannin" class="invisible" id="tannin-1" value="1" checked  ng-model="formData.taste.tannin" /><dot></dot></label>
					<label class="dot-a" for="tannin-2"><span></span><input type="radio" name="tannin" class="invisible" id="tannin-2" value="2" ng-model="formData.taste.tannin"  /></label>
					<label class="dot-a" for="tannin-3"><span>medium</span><input type="radio" name="tannin" class="invisible" id="tannin-3" value="3" ng-model="formData.taste.tannin" /></label>
					<label class="dot-a" for="tannin-4"><span></span><input type="radio" name="tannin" class="invisible" id="tannin-4" value="4" ng-model="formData.taste.tannin" /></label>
					<label class="dot-a" for="tannin-5"><span>high</span><input type="radio" name="tannin" class="invisible" id="tannin-5" value="5" ng-model="formData.taste.tannin" /></label>
				</div>
			</div>
		</div>
		<div class="form-item clearfix">
			<div class="form-name pull-left">{{'Body' | translate}}</div>
			<div class="form-content pull-right">
				<div class="form-dot">
					<label class="dot-a active" for="body-1"><span>light</span><input type="radio" name="body" class="invisible" id="body-1" value="1" checked ng-model="formData.taste.body" /><dot></dot></label>
					<label class="dot-a" for="body-2"><span></span><input type="radio" name="body" class="invisible" id="body-2" value="2" ng-model="formData.taste.body" /></label>
					<label class="dot-a" for="body-3"><span>med</span><input type="radio" name="body" class="invisible" id="body-3" value="3" ng-model="formData.taste.body" /></label>
					<label class="dot-a" for="body-4"><span></span><input type="radio" name="body" class="invisible" id="body-4" value="4" ng-model="formData.taste.body" /></label>
					<label class="dot-a" for="body-5"><span>hazyfull</span><input type="radio" name="body" class="invisible" id="body-5" value="5" ng-model="formData.taste.body" /></label>
				</div>
			</div>
		</div>
		<div class="form-item clearfix pro">
			<div class="form-name pull-left">{{'Alcohol' | translate}}</div>
			<div class="form-content pull-right">
				<div class="form-dot">
					<label class="dot-a active" for="alcohol-1"><span>&lt; 10%</span><input type="radio" name="alcohol" class="invisible" id="alcohol-1" value="1" checked ng-model="formData.taste.alcohol" /><dot></dot></label>
					<label class="dot-a" for="alcohol-2"><span></span><input type="radio" name="alcohol" class="invisible" id="alcohol-2" value="2" ng-model="formData.taste.alcohol" /></label>
					<label class="dot-a" for="alcohol-3"><span>~13.5</span><input type="radio" name="alcohol" class="invisible" id="alcohol-3" value="3" ng-model="formData.taste.alcohol" /></label>
					<label class="dot-a" for="alcohol-4"><span></span><input type="radio" name="alcohol" class="invisible" id="alcohol-4" value="4" ng-model="formData.taste.alcohol" /></label>
					<label class="dot-a" for="alcohol-5"><span>&gt; 15.5%</span><input type="radio" name="alcohol" class="invisible" id="alcohol-5" value="5" ng-model="formData.taste.alcohol" /></label>
				</div>
			</div>
		</div>
		<hr class="mt-30 mb-15" />
		<h3 class="s-title">{{'Overall' | translate}}</h3>
		<div class="form-item">
			<label class="radio-a" for="overall-1"><input type="radio" name="overall" value="5" id="overall-1" class="invisible" checked  ng-model="formData.overall" /><span></span><i class="icon-happy"></i></label>
			<label class="radio-a" for="overall-2"><input type="radio" name="overall" value="1" id="overall-2" class="invisible"  ng-model="formData.overall" /><span></span><i class="icon-sad"></i></label>
		</div>
		<div class="btn-group text-right mt-30">
			<script>
				
			</script>
			<button type="button" class="btn-themed btn-cancel">{{'Cancel' | translate}}</button>
			<button type="button" class="btn-themed simple-opener ml-20 ml-xs-0"ng-Click="simple()" style="display: none;">{{'Fewer' | translate}}</button>
			<button type="button" class="btn-themed pro-opener ml-20 ml-xs-0" ng-Click="pro()">{{'More' | translate}}</button>
			<button type="submit" class="btn-themed ml-20 ml-xs-0">{{'Submit' | translate}}</button>
			<script>
				$("form").submit(function(){
					
				});
			</script>
		</div>
	</div>
	</form>
</section>

<script src="./app-content/js/bootstrap.min.js"></script>
<script src="./app-content/js/custom.js"></script>
<script>
	$('html, body').animate({
		scrollTop: 0
	}, 0);
  $('.btn-cancel').click(function(){
    window.history.back();
  });
</script>