<section class="add-note pt-10 pt-xs-20 pb-170 pb-xs-60">
	<form method="post" autocomplete="off" name="notesForm" id="notesForm" ng-submit="submit()">
	<div class="container width-990">
		<h1 class="title"> {{'AddMyTastingNote' | translate}}</h1>
	</div>
    {{formData}}
	<div class="bg-grey pt-30 pb-30 pt-xs-10 pb-xs-10">
		<div class="container width-990 product-item">
			<div class="clearfix">
				<div class="pull-left xs-pull-none mb-xs-10">
					<h2 class="name m-0" ng-bind-html="product.display">Chateau Bordeneuve, Bordeaux, France</h2>
				</div>
				<div class="pull-right xs-pull-none">
					<div class="details font-11">
						<span class="text-grey">{{'Year' | translate}}:</span> {{product.vintage}}<br />
						<span class="text-grey">{{'Category' | translate}}:</span> {{product.grape}}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container width-990">
		<hr class="mt-30 mb-15 mt-xs-15" />
		<h3 class="s-title">{{'Look' | translate}}</h3>
		<div class="form-item clearfix pro">
			<div class="form-name pull-left">{{'Clarity' | translate}}</div>
			<div class="form-content pull-right">
				<div class="form-dot">
					<label class="dot-a active" for="clarity-1"><span>clear</span><input type="radio" name="clarity" class="invisible" id="clarity-1" value="1" checked  ng-model="formData.clarity"/></label>
					<label class="dot-a" for="clarity-2"><span></span><input type="radio" name="clarity" class="invisible" id="clarity-2" value="2" ng-model="formData.clarity" /></label>
					<label class="dot-a" for="clarity-3"><span>off dry</span><input type="radio" name="clarity" class="invisible" id="clarity-3" value="3" ng-model="formData.clarity" /></label>
					<label class="dot-a" for="clarity-4"><span></span><input type="radio" name="clarity" class="invisible" id="clarity-4" value="4" ng-model="formData.clarity" /></label>
					<label class="dot-a" for="clarity-5"><span>hazy</span><input type="radio" name="clarity" class="invisible" id="clarity-5" value="5" ng-model="formData.clarity" /></label>
				</div>
			</div>
		</div>
		<div class="form-item clearfix pro">
			<div class="form-name pull-left">{{'Intensity' | translate}}</div>
			<div class="form-content pull-right">
				<div class="form-dot">
					<label class="dot-a active" for="intensity-1"><span>pale</span><input type="radio" name="intensity" class="invisible" id="intensity-1" value="1" checked   ng-model="formData.intensity" /></label>
					<label class="dot-a" for="intensity-2"><span></span><input type="radio" name="intensity" class="invisible" id="intensity-2" value="2" ng-model="formData.intensity"  /></label>
					<label class="dot-a" for="intensity-3"><span>medium</span><input type="radio" name="intensity" class="invisible" id="intensity-3" value="3" ng-model="formData.intensity"  /></label>
					<label class="dot-a" for="intensity-4"><span></span><input type="radio" name="intensity" class="invisible" id="intensity-4" value="4" ng-model="formData.intensity"  /></label>
					<label class="dot-a" for="intensity-5"><span>deep</span><input type="radio" name="intensity" class="invisible" id="intensity-5" value="5" ng-model="formData.intensity"  /></label>
				</div>
			</div>
		</div>
		<div class="form-item clearfix color short">
			<div class="form-name pull-left">{{'Color' | translate}}</div>
			<div class="form-content pull-right">
				<!-- For White Color Wine
				<div class="short-item color-item">
					<div class="short-name">White</div>
					<label class="color-a" for="color-1"><span>straw</span><bar style="background-color: #EBE3B2;"></bar><input type="radio" name="white" class="invisible" id="color-1" value="straw" /></label>
					<label class="color-a" for="color-2"><span>yellow</span><bar style="background-color: #F5ED7E;"></bar><input type="radio" name="white" class="invisible" id="color-2" value="yellow" /></label>
					<label class="color-a" for="color-3"><span>gold</span><bar style="background-color: #F3DE75;"></bar><input type="radio" name="white" class="invisible" id="color-3" value="gold" /></label>
					<label class="color-a" for="color-4"><span>amber</span><bar style="background-color: #F8A837;"></bar><input type="radio" name="white" class="invisible" id="color-4" value="amber" /></label>
					<label class="color-a" for="color-5"><span>brown</span><bar style="background-color: #CE982C;"></bar><input type="radio" name="white" class="invisible" id="color-5" value="brown" /></label>
					<div class="cross"></div>
				</div>
				-->
				<div class="short-item color-item">
					<div class="short-name">{{'Red' | translate}}</div>
					<label class="color-a" for="color-1"><span>purple</span><bar style="background-color: #C42053;"></bar><input type="radio" name="red" class="invisible" id="color-1" value="purple"  ng-model="formData.color"  /></label>
					<label class="color-a" for="color-2"><span>ruby</span><bar style="background-color: #921A36;"></bar><input type="radio" name="red" class="invisible" id="color-2" value="ruby" ng-model="formData.color"  /></label>
					<label class="color-a" for="color-3"><span>garnet</span><bar style="background-color: #6F0F11;"></bar><input type="radio" name="red" class="invisible" id="color-3" value="garnet" ng-model="formData.color"  /></label>
					<label class="color-a" for="color-4"><span>tawny</span><bar style="background-color: #491812;"></bar><input type="radio" name="red" class="invisible" id="color-4" value="tawny" ng-model="formData.color"  /></label>
					<label class="color-a" for="color-5"><span>brown</span><bar style="background-color: #332211;"></bar><input type="radio" name="red" class="invisible" id="color-5" value="brown" ng-model="formData.color"  /></label>
					<div class="cross"></div>
				</div>
				<!-- For Rose Color Wine
				<div class="short-item color-item">
					<div class="short-name">Rose</div>
					<label class="color-a" for="color-1"><span>pink</span><bar style="background-color: #F5C7C7;"></bar><input type="radio" name="rose" class="invisible" id="color-1" value="pink" /></label>
					<label class="color-a" for="color-2"><span>deep pink</span><bar style="background-color: #F16E76;"></bar><input type="radio" name="rose" class="invisible" id="color-2" value="deep pink" /></label>
					<label class="color-a" for="color-3"><span>salmon</span><bar style="background-color: #F2876F;"></bar><input type="radio" name="rose" class="invisible" id="color-3" value="salmon" /></label>
					<label class="color-a" for="color-4"><span>deep salmon</span><bar style="background-color: #EC6240;"></bar><input type="radio" name="rose" class="invisible" id="color-4" value="deep salmon" /></label>
					<label class="color-a" for="color-5"><span>copper</span><bar style="background-color: #D0492B;"></bar><input type="radio" name="rose" class="invisible" id="color-5" value="copper" /></label>
					<div class="cross"></div>
				</div>
				-->
			</div>
		</div>
		<div class="form-item clearfix short pro mt-10">
			<div class="form-name pull-left">{{'Other' | translate}}</div>
			<div class="form-content pull-right">
				<div class="short-item">
					<div class="short-name">{{'Legs' | translate}}</div>
					<div class="form-dot">
						<label class="dot-a active" for="legs-1"><span>none</span><input type="radio" name="legs" class="invisible" id="legs-1" value="1" checked ng-model="formData.legs"  /></label>
						<label class="dot-a" for="legs-2"><span></span><input type="radio" name="legs" class="invisible" id="legs-2" value="2" ng-model="formData.legs" /></label>
						<label class="dot-a" for="legs-3"><span>few</span><input type="radio" name="legs" class="invisible" id="legs-3" value="3" ng-model="formData.legs" /></label>
						<label class="dot-a" for="legs-4"><span></span><input type="radio" name="legs" class="invisible" id="legs-4" value="4" ng-model="formData.legs" /></label>
						<label class="dot-a" for="legs-5"><span>plenty</span><input type="radio" name="legs" class="invisible" id="legs-5" value="5" ng-model="formData.legs" /></label>
					</div>
				</div>
				<div class="short-item">
					<div class="short-name">{{'Deposit' | translate}}</div>
					<div class="form-dot">
						<label class="dot-a active" for="deposit-1"><span>none</span><input type="radio" name="deposit" class="invisible" id="deposit-1" value="1" checked ng-model="formData.deposit" /></label>
						<label class="dot-a" for="deposit-2"><span></span><input type="radio" name="deposit" class="invisible" id="deposit-2" value="2" ng-model="formData.deposit" /></label>
						<label class="dot-a" for="deposit-3"><span>few</span><input type="radio" name="deposit" class="invisible" id="deposit-3" value="3" ng-model="formData.deposit" /></label>
						<label class="dot-a" for="deposit-4"><span></span><input type="radio" name="deposit" class="invisible" id="deposit-4" value="4" ng-model="formData.deposit" /></label>
						<label class="dot-a" for="deposit-5"><span>plenty</span><input type="radio" name="deposit" class="invisible" id="deposit-5" value="5" ng-model="formData.deposit" /></label>
					</div>
				</div>
				<div class="short-item">
					<div class="short-name">{{'Bubbles' | translate}}</div>
					<div class="form-dot">
						<label class="dot-a active" for="bubbles-1"><span>small</span><input type="radio" name="bubbles" class="invisible" id="bubbles-1" value="1" checked ng-model="formData.bubbles"/></label>
						<label class="dot-a" for="bubbles-2"><span></span><input type="radio" name="bubbles" class="invisible" id="bubbles-2" value="2" ng-model="formData.bubbles" /></label>
						<label class="dot-a" for="bubbles-3"><span>medium</span><input type="radio" name="bubbles" class="invisible" id="bubbles-3" value="3" ng-model="formData.bubbles" /></label>
						<label class="dot-a" for="bubbles-4"><span></span><input type="radio" name="bubbles" class="invisible" id="bubbles-4" value="4"  ng-model="formData.bubbles" /></label>
						<label class="dot-a" for="bubbles-5"><span>big</span><input type="radio" name="bubbles" class="invisible" id="bubbles-5" value="5" ng-model="formData.bubbles" /></label>
					</div>
				</div>
			</div>
		</div>
		<hr class="mt-10 mb-15 mt-xs-5" />
		<h3 class="s-title">{{'Smell' | translate}}</h3>
		<div class="form-item clearfix mt-10 smell">
			<div class="form-name pull-left"></div>
			<div class="form-content pull-right">
				<div class="form-tag">
					<div class="tag" style="display: none;"></div>
					<input id="inputtags" type="text" placeholder="Search" data-placeholder="Search" ng-model="formData.smell" />
					<div class="form-suggest"></div>
					
					<script>
            $(".smell .smell-more .radio-a").each(function(){
              $(".form-suggest").append("<div class='item'>" + $(this).html() + "</div>");
              suggest();
            });
            $("#inputtags").keydown(function(){
              $(".form-suggest").html("");
              $(".smell .smell-more .radio-a").each(function(){
                if($(this).find("g").html().toLowerCase().includes($("#inputtags").val().toLowerCase())){
                  if($(".form-tag .tag ." + $(this).find("i").attr("class")).length){
                    return false;
                  }
                  
                  $(".form-suggest").append("<div class='item'>" + $(this).html() + "</div>");
                }
              });
              suggest();
              if($(".form-suggest .item").length < 1){
                $(".form-suggest").html("<m>No results matched</m>");
              }
            });
            
            function suggest(){
              $(".form-tag .form-suggest > .item").click(function(){
                
                $("#inputtags").val("");
                
                var ol_content = $(this).html();
			    var content = ol_content + '<div class="cross"></div><input class="smellsInput" type="hidden" name="smells[]" value="'+$(this).find("g").html()+'">';
                var icon_name = $(this).children("[class*='icon-']").attr("class");

                if($(".form-tag .tag ." + icon_name).length){
                  return false;
                }
                
                $(".form-tag .form-suggest ." + icon_name).parent().remove();

                $(".form-tag .tag:first-child").clone().insertBefore($(".form-tag > input")).html(content).show();
                $(".smell .radio-a").each(function(){
                  if($(this).html()==ol_content){
                    $(this).addClass("active");
                  }
                });

                $(".form-tag input").removeAttr("placeholder");

                $(".form-tag .tag > .cross").click(function(){
                  $(this).parent().remove();
                  $(".smell .radio-a").each(function(){
                    if($(this).html()==ol_content){
                      $(this).removeClass("active");
                    }
                  });
                  if($(".form-tag .tag").length <= 1){
                    $(".form-tag input").attr("placeholder", $(".form-tag input").data("placeholder"));
                  }
                });
              });
            }
        
            $(".smell .radio-a").click(function(){
              var ol_content = $(this).html();
							//var content = ol_content + '<div class="cross"></div><input type="hidden" name="small of ' + $(this).find("g").html() + '" value="1">';
			  var content = ol_content + '<div class="cross"></div><input class="smellsInput" type="hidden" name="smells[]" value="'+$(this).find("g").html()+'">';

              if(!$(this).hasClass("active")){
                $(".form-tag .tag:first-child").clone().insertBefore($(".form-tag > input")).html(content).show();
				angular.element(jQuery('.smellsHidden')).triggerHandler('input')
                $(".form-tag input").removeAttr("placeholder");

                $(".form-tag .tag > .cross").click(function(){
                  $(this).parent().remove();
                  $(".smell .radio-a").each(function(){
                    if($(this).html()==ol_content){
                      $(this).removeClass("active");
                    }
                  });
                  if($(".form-tag .tag").length <= 1){
                    $(".form-tag input").attr("placeholder", $(".form-tag input").data("placeholder"));
                  }
                });
                $(".smell .radio-a").each(function(){
                  if($(this).html()==ol_content){
                    $(this).addClass("active");
                  }
                });
              }else{
                $(this).removeClass("active");
                $(".form-tag .tag").each(function(){
                  if($(this).html()==content){
                    $(this).remove();
                  }
                });
                $(".smell .radio-a").each(function(){
                  if($(this).html()==ol_content){
                    $(this).removeClass("active");
                  }
                });
              }
            });
					</script>
				</div>
			</div>
		</div>
		<div class="smell relative mt-xs-5">
			<div class="form-item clearfix mt-30 mt-xs-0">
				<div class="form-name pull-left"></div>
				<div class="form-content pull-right">
					<label class="radio-a"><i class="icon-strawberry"></i><g>strawberry</g></label>
					<label class="radio-a"><i class="icon-cherry"></i><g>cherry</g></label>
					<label class="radio-a"><i class="icon-lemon"></i><g>lemon</g></label>
					<label class="radio-a"><i class="icon-apple"></i><g>apple</g></label>
					<label class="radio-a"><i class="icon-coffee"></i><g>coffee</g></label>
					<label class="radio-a"><i class="icon-flower"></i><g>flower</g></label>
				</div>
			</div>
			<div class="form-item clearfix mt-20 smell-more">
				<div class="form-name pull-left">{{'Flower' | translate}}</div>
				<div class="form-content pull-right">
					<label class="radio-a"><i class="icon-iris"></i><g>iris</g></label>
					<label class="radio-a"><i class="icon-peony"></i><g>peony</g></label>
					<label class="radio-a"><i class="icon-elderflower"></i><g>elderflower</g></label>
					<label class="radio-a"><i class="icon-acacia"></i><g>acacia</g></label>
					<label class="radio-a"><i class="icon-lilac"></i><g>lilac</g></label>
					<label class="radio-a"><i class="icon-jasmine"></i><g>jasmine</g></label>
					<label class="radio-a"><i class="icon-honeysuckle"></i><g>honeysuckle</g></label>
					<label class="radio-a"><i class="icon-violet"></i><g>violet</g></label>
					<label class="radio-a"><i class="icon-lavender"></i><g>lavender</g></label>
				</div>
			</div>
			<div class="form-item clearfix mt-20 smell-more">
				<div class="form-name pull-left">{{'Citrus' | translate}}</div>
				<div class="form-content pull-right">
					<label class="radio-a"><i class="icon-lime"></i><g>lime</g></label>
					<label class="radio-a"><i class="icon-lemon"></i><g>lemon</g></label>
					<label class="radio-a"><i class="icon-grapefruit"></i><g>grapefruit</g></label>
					<label class="radio-a"><i class="icon-orange"></i><g>orange</g></label>
					<label class="radio-a"><i class="icon-marmalade"></i><g>marmalade</g></label>
				</div>
			</div>
			<div class="form-item clearfix mt-20 smell-more">
				<div class="form-name pull-left">{{'TreeFruit' | translate}}</div>
				<div class="form-content pull-right">
					<label class="radio-a"><i class="icon-apple"></i><g>apple</g></label>
					<label class="radio-a"><i class="icon-pear"></i><g>pear</g></label>
					<label class="radio-a"><i class="icon-nectarine"></i><g>nectarine</g></label>
					<label class="radio-a"><i class="icon-peach"></i><g>peach</g></label>
					<label class="radio-a"><i class="icon-apricot"></i><g>apricot</g></label>
					<label class="radio-a"><i class="icon-persimmon"></i><g>persimmon</g></label>
				</div>
			</div>
			<div class="form-item clearfix mt-20 smell-more">
				<div class="form-name pull-left">{{'TropicalFruit' | translate}}</div>
				<div class="form-content pull-right">
					<label class="radio-a"><i class="icon-pineapple"></i><g>pineapple</g></label>
					<label class="radio-a"><i class="icon-mango"></i><g>mango</g></label>
					<label class="radio-a"><i class="icon-guava"></i><g>guava</g></label>
					<label class="radio-a"><i class="icon-kiwi"></i><g>kiwi</g></label>
					<label class="radio-a"><i class="icon-lychee"></i><g>lychee</g></label>
					<label class="radio-a"><i class="icon-bubblegum"></i><g>bubblegum</g></label>
				</div>
			</div>
			<div class="form-item clearfix mt-20 smell-more">
				<div class="form-name pull-left">{{'RedFruit' | translate}}</div>
				<div class="form-content pull-right">
					<label class="radio-a"><i class="icon-redplum"></i><g>red plum</g></label>
					<label class="radio-a"><i class="icon-strawberry"></i><g>strawberry</g></label>
					<label class="radio-a"><i class="icon-cherry"></i><g>cherry</g></label>
					<label class="radio-a"><i class="icon-pomegranate"></i><g>pomegranate</g></label>
				</div>
			</div>
			<div class="form-item clearfix mt-20 smell-more">
				<div class="form-name pull-left">{{'BlackFruit' | translate}}</div>
				<div class="form-content pull-right">
					<label class="radio-a"><i class="icon-blackcurrant"></i><g>blackcurrant</g></label>
					<label class="radio-a"><i class="icon-plum"></i><g>plum</g></label>
					<label class="radio-a"><i class="icon-blackberry"></i><g>blackberry</g></label>
					<label class="radio-a"><i class="icon-blueberry"></i><g>blueberry</g></label>
					<label class="radio-a"><i class="icon-olive"></i><g>olive</g></label>
				</div>
			</div>
			<div class="form-item clearfix mt-20 smell-more">
				<div class="form-name pull-left">{{'DriedFruit' | translate}}</div>
				<div class="form-content pull-right">
					<label class="radio-a"><i class="icon-raisin"></i><g>raisin</g></label>
					<label class="radio-a"><i class="icon-fig"></i><g>fig</g></label>
					<label class="radio-a"><i class="icon-date"></i><g>date</g></label>
					<label class="radio-a"><i class="icon-fruitcake"></i><g>fruitcake</g></label>
				</div>
			</div>
			<div class="form-item clearfix mt-20 smell-more">
				<div class="form-name pull-left">{{'NobleRot' | translate}}</div>
				<div class="form-content pull-right">
					<label class="radio-a"><i class="icon-honeycomb"></i><g>honeycomb</g></label>
					<label class="radio-a"><i class="icon-ginger"></i><g>ginger</g></label>
					<label class="radio-a"><i class="icon-saffron"></i><g>saffron</g></label>
				</div>
			</div>
			<div class="form-item clearfix mt-20 smell-more">
				<div class="form-name pull-left">{{'Herbal/Spice' | translate}}</div>
				<div class="form-content pull-right">
					<label class="radio-a"><i class="icon-thyme"></i><g>thyme</g></label>
					<label class="radio-a"><i class="icon-mint"></i><g>mint</g></label>
					<label class="radio-a"><i class="icon-whitepepper"></i><g>white pepper</g></label>
					<label class="radio-a"><i class="icon-redpepper"></i><g>red pepper</g></label>
					<label class="radio-a"><i class="icon-blackpepper"></i><g>black pepper</g></label>
					<label class="radio-a"><i class="icon-cinnamon"></i><g>cinnamon</g></label>
					<label class="radio-a"><i class="icon-fennel"></i><g>fennel</g></label>
					<label class="radio-a"><i class="icon-anise"></i><g>anise</g></label>
				</div>
			</div>
			<div class="form-item clearfix mt-20 smell-more">
				<div class="form-name pull-left">{{'Vegetable' | translate}}</div>
				<div class="form-content pull-right">
					<label class="radio-a"><i class="icon-tomato"></i><g>tomato</g></label>
					<label class="radio-a"><i class="icon-greenalmond"></i><g>green almond</g></label>
					<label class="radio-a"><i class="icon-jalapeno"></i><g>jalapeno</g></label>
					<label class="radio-a"><i class="icon-bellpepper"></i><g>bell pepper</g></label>
					<label class="radio-a"><i class="icon-gooseberry"></i><g>gooseberry</g></label>
					<label class="radio-a"><i class="icon-grass"></i><g>grass</g></label>
				</div>
			</div>
			<div class="form-item clearfix mt-20 smell-more">
				<div class="form-name pull-left">{{'Earth' | translate}}</div>
				<div class="form-content pull-right">
					<label class="radio-a"><i class="icon-petroleum"></i><g>petroleum</g></label>
					<label class="radio-a"><i class="icon-volcanicrocks"></i><g>volcanic rocks</g></label>
					<label class="radio-a"><i class="icon-redbeet"></i><g>red beet</g></label>
					<label class="radio-a"><i class="icon-pottingsoil"></i><g>potting soil</g></label>
					<label class="radio-a"><i class="icon-wetgravel"></i><g>wet gravel</g></label>
					<label class="radio-a"><i class="icon-slate"></i><g>slate</g></label>
				</div>
			</div>
			<div class="form-item clearfix mt-20 smell-more">
				<div class="form-name pull-left">{{'Yeast' | translate}}</div>
				<div class="form-content pull-right">
					<label class="radio-a"><i class="icon-lager"></i><g>lager</g></label>
					<label class="radio-a"><i class="icon-sourdough"></i><g>sourdough</g></label>
					<label class="radio-a"><i class="icon-cream"></i><g>cream</g></label>
					<label class="radio-a"><i class="icon-butter"></i><g>butter</g></label>
				</div>
			</div>
			<div class="form-item clearfix mt-20 smell-more">
				<div class="form-name pull-left">{{'Oak' | translate}}</div>
				<div class="form-content pull-right">
					<label class="radio-a"><i class="icon-dill"></i><g>dill</g></label>
					<label class="radio-a"><i class="icon-smoke"></i><g>smoke</g></label>
					<label class="radio-a"><i class="icon-cigarbox"></i><g>cigar box</g></label>
					<label class="radio-a"><i class="icon-bakingspices"></i><g>baking spices</g></label>
					<label class="radio-a"><i class="icon-coconut"></i><g>coconut</g></label>
					<label class="radio-a"><i class="icon-vanilla"></i><g>vanilla</g></label>
				</div>
			</div>
			<div class="form-item clearfix mt-20 smell-more">
				<div class="form-name pull-left">{{'Aging' | translate}}</div>
				<div class="form-content pull-right">
					<label class="radio-a"><i class="icon-leather"></i><g>leather</g></label>
					<label class="radio-a"><i class="icon-cocoa"></i><g>cocoa</g></label>
					<label class="radio-a"><i class="icon-coffee"></i><g>coffee</g></label>
					<label class="radio-a"><i class="icon-tobacco"></i><g>tobacco</g></label>
					<label class="radio-a"><i class="icon-nuts"></i><g>nuts</g></label>
					<label class="radio-a"><i class="icon-driedfruit"></i><g>dried fruit</g></label>
					<label class="radio-a"><i class="icon-mushroom"></i><g>mushroom</g></label>
					<label class="radio-a"><i class="icon-truffle"></i><g>truffle</g></label>
				</div>
			</div>
			<button type="button" class="btn-a more-opener">{{'More' | translate}}...</button>
			<button type="button" class="btn-a more-closer" style="display: none;">{{'Fewer' | translate}}...</button>
					
			<script>
				$(".smell .more-opener").click(function(){
					$(".smell-more").addClass("open");
					$(".smell .more-opener").hide();
					$(".smell .more-closer").show();
				});
				
				$(".smell .more-closer").click(function(){
					$(".smell-more").removeClass("open");
					$(".smell .more-opener").show();
					$(".smell .more-closer").hide();
				});
			</script>
		</div>
		<hr class="mt-15 mb-15" />
		<h3 class="s-title">{{'Taste' | translate}}</h3>
		<div class="form-item clearfix">
			<div class="form-name pull-left">{{'Sweetness' | translate}}</div>
			<div class="form-content pull-right">
				<div class="form-dot">
					<label class="dot-a active" for="sweetness-1"><span>very dry</span><input type="radio" name="sweetness" class="invisible" id="sweetness-1" value="1" checked ng-model="formData.sweetness" /></label>
					<label class="dot-a" for="sweetness-2"><span></span><input type="radio" name="sweetness" class="invisible" id="sweetness-2" value="2" ng-model="formData.sweetness" /></label>
					<label class="dot-a" for="sweetness-3"><span>off dry</span><input type="radio" name="sweetness" class="invisible" id="sweetness-3" value="3" ng-model="formData.sweetness" /></label>
					<label class="dot-a" for="sweetness-4"><span></span><input type="radio" name="sweetness" class="invisible" id="sweetness-4" value="4" ng-model="formData.sweetness" /></label>
					<label class="dot-a" for="sweetness-5"><span>very sweet</span><input type="radio" name="sweetness" class="invisible" id="sweetness-5" value="5" ng-model="formData.sweetness" /></label>
				</div>
			</div>
		</div>
		<div class="form-item clearfix">
			<div class="form-name pull-left">{{'Acidity' | translate}}</div>
			<div class="form-content pull-right">
				<div class="form-dot">
					<label class="dot-a active" for="acidity-1"><span>low</span><input type="radio" name="acidity" class="invisible" id="acidity-1" value="1" checked ng-model="formData.acidity" /></label>
					<label class="dot-a" for="acidity-2"><span></span><input type="radio" name="acidity" class="invisible" id="acidity-2" value="2" ng-model="formData.acidity" /></label>
					<label class="dot-a" for="acidity-3"><span>medium</span><input type="radio" name="acidity" class="invisible" id="acidity-3" value="3" ng-model="formData.acidity" /></label>
					<label class="dot-a" for="acidity-4"><span></span><input type="radio" name="acidity" class="invisible" id="acidity-4" value="4" ng-model="formData.acidity" /></label>
					<label class="dot-a" for="acidity-5"><span>high</span><input type="radio" name="acidity" class="invisible" id="acidity-5" value="5" ng-model="formData.acidity" /></label>
				</div>
			</div>
		</div>
		<div class="form-item clearfix">
			<div class="form-name pull-left">{{'Tannin' | translate}}</div>
			<div class="form-content pull-right">
				<div class="form-dot">
					<label class="dot-a active" for="tannin-1"><span>low</span><input type="radio" name="tannin" class="invisible" id="tannin-1" value="1" checked  ng-model="formData.tannin" /></label>
					<label class="dot-a" for="tannin-2"><span></span><input type="radio" name="tannin" class="invisible" id="tannin-2" value="2" ng-model="formData.tannin"  /></label>
					<label class="dot-a" for="tannin-3"><span>medium</span><input type="radio" name="tannin" class="invisible" id="tannin-3" value="3" ng-model="formData.tannin" /></label>
					<label class="dot-a" for="tannin-4"><span></span><input type="radio" name="tannin" class="invisible" id="tannin-4" value="4" ng-model="formData.tannin" /></label>
					<label class="dot-a" for="tannin-5"><span>high</span><input type="radio" name="tannin" class="invisible" id="tannin-5" value="5" ng-model="formData.tannin" /></label>
				</div>
			</div>
		</div>
		<div class="form-item clearfix">
			<div class="form-name pull-left">{{'Body' | translate}}</div>
			<div class="form-content pull-right">
				<div class="form-dot">
					<label class="dot-a active" for="body-1"><span>light</span><input type="radio" name="body" class="invisible" id="body-1" value="1" checked ng-model="formData.body" /></label>
					<label class="dot-a" for="body-2"><span></span><input type="radio" name="body" class="invisible" id="body-2" value="2" ng-model="formData.body" /></label>
					<label class="dot-a" for="body-3"><span>med</span><input type="radio" name="body" class="invisible" id="body-3" value="3" ng-model="formData.body" /></label>
					<label class="dot-a" for="body-4"><span></span><input type="radio" name="body" class="invisible" id="body-4" value="4" ng-model="formData.body" /></label>
					<label class="dot-a" for="body-5"><span>hazyfull</span><input type="radio" name="body" class="invisible" id="body-5" value="5" ng-model="formData.body" /></label>
				</div>
			</div>
		</div>
		<div class="form-item clearfix pro">
			<div class="form-name pull-left">{{'Alcohol' | translate}}</div>
			<div class="form-content pull-right">
				<div class="form-dot">
					<label class="dot-a active" for="alcohol-1"><span>&lt; 10%</span><input type="radio" name="alcohol" class="invisible" id="alcohol-1" value="1" checked ng-model="formData.alcohol" /></label>
					<label class="dot-a" for="alcohol-2"><span></span><input type="radio" name="alcohol" class="invisible" id="alcohol-2" value="2" ng-model="formData.alcohol" /></label>
					<label class="dot-a" for="alcohol-3"><span>~13.5</span><input type="radio" name="alcohol" class="invisible" id="alcohol-3" value="3" ng-model="formData.alcohol" /></label>
					<label class="dot-a" for="alcohol-4"><span></span><input type="radio" name="alcohol" class="invisible" id="alcohol-4" value="4" ng-model="formData.alcohol" /></label>
					<label class="dot-a" for="alcohol-5"><span>> 15.5%</span><input type="radio" name="alcohol" class="invisible" id="alcohol-5" value="5" ng-model="formData.alcohol" /></label>
				</div>
			</div>
		</div>
		<hr class="mt-30 mb-15" />
		<h3 class="s-title">{{'Overall' | translate}}</h3>
		<div class="form-item">
			<label class="radio-a" for="overall-1"><input type="radio" name="overall" value="happy" id="overall-1" class="invisible" checked  ng-model="formData.overall" /><span></span><i class="icon-happy"></i></label>
			<label class="radio-a" for="overall-2"><input type="radio" name="overall" value="sad" id="overall-2" class="invisible"  ng-model="formData.overall" /><span></span><i class="icon-sad"></i></label>
		</div>
		<div class="btn-group text-right mt-30">
			<script>
				function pro(){
					$(".pro").addClass("open");
					$(".simple").removeClass("open");
					$(".simple-opener").show();
					$(".pro-opener").hide();
				}
				
				function simple(){
					$(".pro").removeClass("open");
					$(".simple").addClass("open");
					$(".simple-opener").hide();
					$(".pro-opener").show();
				}
			</script>
			<button type="button" class="btn-themed simple-opener" onClick="simple();" style="display: none;">{{'Fewer' | translate}}</button>
			<button type="button" class="btn-themed pro-opener" onClick="pro();">{{'More' | translate}}</button>
			<button type="submit" class="btn-themed ml-20">{{'Submit' | translate}}</button>
			<script>
				$("form").submit(function(){
					
				});
			</script>
		</div>
	</div>
	</form>
</section>

<script src="./app-content/js/bootstrap.min.js"></script>
<script src="./app-content/js/custom.js"></script>
<script>
	$('html, body').animate({
		scrollTop: 0
	}, 0);
</script>