<section class="add-note pt-10 pt-xs-20 pb-170 pb-xs-60">
	<form method="post" autocomplete="off">
	<div class="container width-990">
		<h1 class="title"> {{'AddMyTastingNote' | translate}}</h1>
	</div>
	<div class="bg-grey pt-30 pb-30 pt-xs-10 pb-xs-10">
		<div class="container width-990 product-item">
			<div class="clearfix">
				<div class="pull-left">
					<h2 class="name m-0">Chateau Bordeneuve, Bordeaux, France</h2>
				</div>
				<div class="pull-right pl-15 pr-15">
					<div class="details font-11">
						<span class="text-grey">{{'Year' | translate}}:</span> 2015<br />
						<span class="text-grey">{{'Category' | translate}}:</span> Red
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container width-990">
		<hr class="mt-30 mb-15 mt-xs-15" />
		<h3 class="s-title">{{'Look' | translate}}</h3>
		<div class="form-item clearfix pro">
			<div class="form-name pull-left">{{'Clarity' | translate}}</div>
			<div class="form-content pull-right">
				<div class="form-dot">
					<label class="dot-a active" for="clarity-1"><span>clear</span><input type="radio" name="clarity" class="invisible" id="clarity-1" value="1" checked /></label>
					<label class="dot-a" for="clarity-2"><span></span><input type="radio" name="clarity" class="invisible" id="clarity-2" value="2" /></label>
					<label class="dot-a" for="clarity-3"><span>off dry</span><input type="radio" name="clarity" class="invisible" id="clarity-3" value="3" /></label>
					<label class="dot-a" for="clarity-4"><span></span><input type="radio" name="clarity" class="invisible" id="clarity-4" value="4" /></label>
					<label class="dot-a" for="clarity-5"><span>hazy</span><input type="radio" name="clarity" class="invisible" id="clarity-5" value="5" /></label>
				</div>
			</div>
		</div>
		<div class="form-item clearfix pro">
			<div class="form-name pull-left">{{'Intensity' | translate}}</div>
			<div class="form-content pull-right">
				<div class="form-dot">
					<label class="dot-a active" for="intensity-1"><span>pale</span><input type="radio" name="intensity" class="invisible" id="intensity-1" value="1" checked /></label>
					<label class="dot-a" for="intensity-2"><span></span><input type="radio" name="intensity" class="invisible" id="intensity-2" value="2" /></label>
					<label class="dot-a" for="intensity-3"><span>medium</span><input type="radio" name="intensity" class="invisible" id="intensity-3" value="3" /></label>
					<label class="dot-a" for="intensity-4"><span></span><input type="radio" name="intensity" class="invisible" id="intensity-4" value="4" /></label>
					<label class="dot-a" for="intensity-5"><span>deep</span><input type="radio" name="intensity" class="invisible" id="intensity-5" value="5" /></label>
				</div>
			</div>
		</div>
		<div class="form-item clearfix color short">
			<div class="form-name pull-left">{{'Color' | translate}}</div>
			<div class="form-content pull-right">
				<!-- For White Color Wine
				<div class="short-item color-item">
					<div class="short-name">White</div>
					<label class="color-a" for="color-1"><span>straw</span><bar style="background-color: #EBE3B2;"></bar><input type="radio" name="white" class="invisible" id="color-1" value="straw" /></label>
					<label class="color-a" for="color-2"><span>yellow</span><bar style="background-color: #F5ED7E;"></bar><input type="radio" name="white" class="invisible" id="color-2" value="yellow" /></label>
					<label class="color-a" for="color-3"><span>gold</span><bar style="background-color: #F3DE75;"></bar><input type="radio" name="white" class="invisible" id="color-3" value="gold" /></label>
					<label class="color-a" for="color-4"><span>amber</span><bar style="background-color: #F8A837;"></bar><input type="radio" name="white" class="invisible" id="color-4" value="amber" /></label>
					<label class="color-a" for="color-5"><span>brown</span><bar style="background-color: #CE982C;"></bar><input type="radio" name="white" class="invisible" id="color-5" value="brown" /></label>
					<div class="cross"></div>
				</div>
				-->
				<div class="short-item color-item">
					<div class="short-name">{{'Red' | translate}}</div>
					<label class="color-a" for="color-1"><span>purple</span><bar style="background-color: #C42053;"></bar><input type="radio" name="red" class="invisible" id="color-1" value="purple" /></label>
					<label class="color-a" for="color-2"><span>ruby</span><bar style="background-color: #921A36;"></bar><input type="radio" name="red" class="invisible" id="color-2" value="ruby" /></label>
					<label class="color-a" for="color-3"><span>garnet</span><bar style="background-color: #6F0F11;"></bar><input type="radio" name="red" class="invisible" id="color-3" value="garnet" /></label>
					<label class="color-a" for="color-4"><span>tawny</span><bar style="background-color: #491812;"></bar><input type="radio" name="red" class="invisible" id="color-4" value="tawny" /></label>
					<label class="color-a" for="color-5"><span>brown</span><bar style="background-color: #332211;"></bar><input type="radio" name="red" class="invisible" id="color-5" value="brown" /></label>
					<div class="cross"></div>
				</div>
				<!-- For Rose Color Wine
				<div class="short-item color-item">
					<div class="short-name">Rose</div>
					<label class="color-a" for="color-1"><span>pink</span><bar style="background-color: #F5C7C7;"></bar><input type="radio" name="rose" class="invisible" id="color-1" value="pink" /></label>
					<label class="color-a" for="color-2"><span>deep pink</span><bar style="background-color: #F16E76;"></bar><input type="radio" name="rose" class="invisible" id="color-2" value="deep pink" /></label>
					<label class="color-a" for="color-3"><span>salmon</span><bar style="background-color: #F2876F;"></bar><input type="radio" name="rose" class="invisible" id="color-3" value="salmon" /></label>
					<label class="color-a" for="color-4"><span>deep salmon</span><bar style="background-color: #EC6240;"></bar><input type="radio" name="rose" class="invisible" id="color-4" value="deep salmon" /></label>
					<label class="color-a" for="color-5"><span>copper</span><bar style="background-color: #D0492B;"></bar><input type="radio" name="rose" class="invisible" id="color-5" value="copper" /></label>
					<div class="cross"></div>
				</div>
				-->
			</div>
		</div>
		<div class="form-item clearfix short pro mt-10">
			<div class="form-name pull-left">{{'Other' | translate}}</div>
			<div class="form-content pull-right">
				<div class="short-item">
					<div class="short-name">{{'Legs' | translate}}</div>
					<div class="form-dot">
						<label class="dot-a active" for="legs-1"><span>none</span><input type="radio" name="legs" class="invisible" id="legs-1" value="1" checked /></label>
						<label class="dot-a" for="legs-2"><span></span><input type="radio" name="legs" class="invisible" id="legs-2" value="2" /></label>
						<label class="dot-a" for="legs-3"><span>few</span><input type="radio" name="legs" class="invisible" id="legs-3" value="3" /></label>
						<label class="dot-a" for="legs-4"><span></span><input type="radio" name="legs" class="invisible" id="legs-4" value="4" /></label>
						<label class="dot-a" for="legs-5"><span>plenty</span><input type="radio" name="legs" class="invisible" id="legs-5" value="5" /></label>
					</div>
				</div>
				<div class="short-item">
					<div class="short-name">{{'Deposit' | translate}}</div>
					<div class="form-dot">
						<label class="dot-a active" for="deposit-1"><span>none</span><input type="radio" name="deposit" class="invisible" id="deposit-1" value="1" checked /></label>
						<label class="dot-a" for="deposit-2"><span></span><input type="radio" name="deposit" class="invisible" id="deposit-2" value="2" /></label>
						<label class="dot-a" for="deposit-3"><span>few</span><input type="radio" name="deposit" class="invisible" id="deposit-3" value="3" /></label>
						<label class="dot-a" for="deposit-4"><span></span><input type="radio" name="deposit" class="invisible" id="deposit-4" value="4" /></label>
						<label class="dot-a" for="deposit-5"><span>plenty</span><input type="radio" name="deposit" class="invisible" id="deposit-5" value="5" /></label>
					</div>
				</div>
				<div class="short-item">
					<div class="short-name">{{'Bubbles' | translate}}</div>
					<div class="form-dot">
						<label class="dot-a active" for="bubbles-1"><span>small</span><input type="radio" name="bubbles" class="invisible" id="bubbles-1" value="1" checked /></label>
						<label class="dot-a" for="bubbles-2"><span></span><input type="radio" name="bubbles" class="invisible" id="bubbles-2" value="2" /></label>
						<label class="dot-a" for="bubbles-3"><span>medium</span><input type="radio" name="bubbles" class="invisible" id="bubbles-3" value="3" /></label>
						<label class="dot-a" for="bubbles-4"><span></span><input type="radio" name="bubbles" class="invisible" id="bubbles-4" value="4" /></label>
						<label class="dot-a" for="bubbles-5"><span>big</span><input type="radio" name="bubbles" class="invisible" id="bubbles-5" value="5" /></label>
					</div>
				</div>
			</div>
		</div>
		<hr class="mt-10 mb-15 mt-xs-5" />
		<h3 class="s-title">{{'Smell' | translate}}</h3>
		<div class="form-item clearfix mt-10 smell">
			<div class="form-name pull-left"></div>
			<div class="form-content pull-right">
				<div class="form-tag">
					<div class="tag" style="display: none;"></div>
					<input type="text" placeholder="Search" data-placeholder="Search" />
					<div class="form-suggest">
						<div class="item"><i class="icon-strawberry"></i>Strawberry</div>
						<div class="item"><i class="icon-apple"></i>Apple</div>
						<div class="item"><i class="icon-cherry"></i>Cherry</div>
						<div class="item"><i class="icon-strawberry"></i>Strawberry</div>
						<div class="item"><i class="icon-strawberry"></i>Strawberry</div>
						<div class="item"><i class="icon-strawberry"></i>Strawberry</div>
						<div class="item"><i class="icon-strawberry"></i>Strawberry</div>
						<div class="item"><i class="icon-strawberry"></i>Strawberry</div>
						<div class="item"><i class="icon-strawberry"></i>Strawberry</div>
					</div>
					
					<script>
						$(".form-tag .form-suggest > .item").click(function(){
							var content = $(this).html() + '<div class="cross"></div>';
							$(".form-tag .tag:first-child").clone().insertBefore($(".form-tag > input")).html(content).show();
							
							$(".form-tag input").removeAttr("placeholder");
							
							$(".form-tag .tag > .cross").click(function(){
								$(this).parent().remove();
								if($(".form-tag .tag").length <= 1){
									$(".form-tag input").attr("placeholder", $(".form-tag input").data("placeholder"));
								}
							});
						});
					</script>
				</div>
			</div>
		</div>
		<div class="smell relative mt-xs-5">
			<div class="form-item clearfix mt-30 mt-xs-0">
				<div class="form-name pull-left"></div>
				<div class="form-content pull-right">
					<label class="radio-a"><i class="icon-strawberry"></i></label>
					<label class="radio-a"><i class="icon-cherry"></i></label>
					<label class="radio-a"><i class="icon-lemon"></i></label>
					<label class="radio-a"><i class="icon-apple"></i></label>
					<label class="radio-a"><i class="icon-coffee"></i></label>
					<label class="radio-a"><i class="icon-flower"></i></label>
				</div>
			</div>
			<div class="form-item clearfix mt-20 smell-more">
				<div class="form-name pull-left">{{'Flower' | translate}}</div>
				<div class="form-content pull-right">
					<label class="radio-a"><i class="icon-strawberry"></i></label>
					<label class="radio-a"><i class="icon-cherry"></i></label>
					<label class="radio-a"><i class="icon-lemon"></i></label>
					<label class="radio-a"><i class="icon-apple"></i></label>
					<label class="radio-a"><i class="icon-coffee"></i></label>
					<label class="radio-a"><i class="icon-flower"></i></label>
				</div>
			</div>
			<div class="form-item clearfix mt-20 smell-more">
				<div class="form-name pull-left">{{'Citrus' | translate}}</div>
				<div class="form-content pull-right">
					<label class="radio-a"><i class="icon-strawberry"></i></label>
					<label class="radio-a"><i class="icon-cherry"></i></label>
					<label class="radio-a"><i class="icon-lemon"></i></label>
					<label class="radio-a"><i class="icon-apple"></i></label>
					<label class="radio-a"><i class="icon-coffee"></i></label>
					<label class="radio-a"><i class="icon-flower"></i></label>
				</div>
			</div>
			<div class="form-item clearfix mt-20 smell-more">
				<div class="form-name pull-left">{{'TreeFruit' | translate}}</div>
				<div class="form-content pull-right">
					<label class="radio-a"><i class="icon-strawberry"></i></label>
					<label class="radio-a"><i class="icon-cherry"></i></label>
					<label class="radio-a"><i class="icon-lemon"></i></label>
					<label class="radio-a"><i class="icon-apple"></i></label>
					<label class="radio-a"><i class="icon-coffee"></i></label>
					<label class="radio-a"><i class="icon-flower"></i></label>
				</div>
			</div>
			<div class="form-item clearfix mt-20 smell-more">
				<div class="form-name pull-left">{{'TropicalFruit' | translate}}</div>
				<div class="form-content pull-right">
					<label class="radio-a"><i class="icon-strawberry"></i></label>
					<label class="radio-a"><i class="icon-cherry"></i></label>
					<label class="radio-a"><i class="icon-lemon"></i></label>
					<label class="radio-a"><i class="icon-apple"></i></label>
					<label class="radio-a"><i class="icon-coffee"></i></label>
					<label class="radio-a"><i class="icon-flower"></i></label>
				</div>
			</div>
			<div class="form-item clearfix mt-20 smell-more">
				<div class="form-name pull-left">{{'RedFruit' | translate}}</div>
				<div class="form-content pull-right">
					<label class="radio-a"><i class="icon-strawberry"></i></label>
					<label class="radio-a"><i class="icon-cherry"></i></label>
					<label class="radio-a"><i class="icon-lemon"></i></label>
					<label class="radio-a"><i class="icon-apple"></i></label>
					<label class="radio-a"><i class="icon-coffee"></i></label>
					<label class="radio-a"><i class="icon-flower"></i></label>
				</div>
			</div>
			<div class="form-item clearfix mt-20 smell-more">
				<div class="form-name pull-left">{{'BlackFruit' | translate}}</div>
				<div class="form-content pull-right">
					<label class="radio-a"><i class="icon-strawberry"></i></label>
					<label class="radio-a"><i class="icon-cherry"></i></label>
					<label class="radio-a"><i class="icon-lemon"></i></label>
					<label class="radio-a"><i class="icon-apple"></i></label>
					<label class="radio-a"><i class="icon-coffee"></i></label>
					<label class="radio-a"><i class="icon-flower"></i></label>
				</div>
			</div>
			<div class="form-item clearfix mt-20 smell-more">
				<div class="form-name pull-left">{{'DriedFruit' | translate}}</div>
				<div class="form-content pull-right">
					<label class="radio-a"><i class="icon-strawberry"></i></label>
					<label class="radio-a"><i class="icon-cherry"></i></label>
					<label class="radio-a"><i class="icon-lemon"></i></label>
					<label class="radio-a"><i class="icon-apple"></i></label>
					<label class="radio-a"><i class="icon-coffee"></i></label>
					<label class="radio-a"><i class="icon-flower"></i></label>
				</div>
			</div>
			<div class="form-item clearfix mt-20 smell-more">
				<div class="form-name pull-left">{{'NobleRot' | translate}}</div>
				<div class="form-content pull-right">
					<label class="radio-a"><i class="icon-strawberry"></i></label>
					<label class="radio-a"><i class="icon-cherry"></i></label>
					<label class="radio-a"><i class="icon-lemon"></i></label>
					<label class="radio-a"><i class="icon-apple"></i></label>
					<label class="radio-a"><i class="icon-coffee"></i></label>
					<label class="radio-a"><i class="icon-flower"></i></label>
				</div>
			</div>
			<div class="form-item clearfix mt-20 smell-more">
				<div class="form-name pull-left">{{'Herbal/Spice' | translate}}</div>
				<div class="form-content pull-right">
					<label class="radio-a"><i class="icon-strawberry"></i></label>
					<label class="radio-a"><i class="icon-cherry"></i></label>
					<label class="radio-a"><i class="icon-lemon"></i></label>
					<label class="radio-a"><i class="icon-apple"></i></label>
					<label class="radio-a"><i class="icon-coffee"></i></label>
					<label class="radio-a"><i class="icon-flower"></i></label>
				</div>
			</div>
			<div class="form-item clearfix mt-20 smell-more">
				<div class="form-name pull-left">{{'Vegetable' | translate}}</div>
				<div class="form-content pull-right">
					<label class="radio-a"><i class="icon-strawberry"></i></label>
					<label class="radio-a"><i class="icon-cherry"></i></label>
					<label class="radio-a"><i class="icon-lemon"></i></label>
					<label class="radio-a"><i class="icon-apple"></i></label>
					<label class="radio-a"><i class="icon-coffee"></i></label>
					<label class="radio-a"><i class="icon-flower"></i></label>
				</div>
			</div>
			<div class="form-item clearfix mt-20 smell-more">
				<div class="form-name pull-left">{{'Earth' | translate}}</div>
				<div class="form-content pull-right">
					<label class="radio-a"><i class="icon-strawberry"></i></label>
					<label class="radio-a"><i class="icon-cherry"></i></label>
					<label class="radio-a"><i class="icon-lemon"></i></label>
					<label class="radio-a"><i class="icon-apple"></i></label>
					<label class="radio-a"><i class="icon-coffee"></i></label>
					<label class="radio-a"><i class="icon-flower"></i></label>
				</div>
			</div>
			<div class="form-item clearfix mt-20 smell-more">
				<div class="form-name pull-left">{{'Yeast' | translate}}</div>
				<div class="form-content pull-right">
					<label class="radio-a"><i class="icon-strawberry"></i></label>
					<label class="radio-a"><i class="icon-cherry"></i></label>
					<label class="radio-a"><i class="icon-lemon"></i></label>
					<label class="radio-a"><i class="icon-apple"></i></label>
					<label class="radio-a"><i class="icon-coffee"></i></label>
					<label class="radio-a"><i class="icon-flower"></i></label>
				</div>
			</div>
			<div class="form-item clearfix mt-20 smell-more">
				<div class="form-name pull-left">{{'Oak' | translate}}</div>
				<div class="form-content pull-right">
					<label class="radio-a"><i class="icon-strawberry"></i></label>
					<label class="radio-a"><i class="icon-cherry"></i></label>
					<label class="radio-a"><i class="icon-lemon"></i></label>
					<label class="radio-a"><i class="icon-apple"></i></label>
					<label class="radio-a"><i class="icon-coffee"></i></label>
					<label class="radio-a"><i class="icon-flower"></i></label>
				</div>
			</div>
			<div class="form-item clearfix mt-20 smell-more">
				<div class="form-name pull-left">{{'Aging' | translate}}</div>
				<div class="form-content pull-right">
					<label class="radio-a"><i class="icon-strawberry"></i></label>
					<label class="radio-a"><i class="icon-cherry"></i></label>
					<label class="radio-a"><i class="icon-lemon"></i></label>
					<label class="radio-a"><i class="icon-apple"></i></label>
					<label class="radio-a"><i class="icon-coffee"></i></label>
					<label class="radio-a"><i class="icon-flower"></i></label>
				</div>
			</div>
			<button type="button" class="btn-a more-opener">{{'More' | translate}}...</button>
			<button type="button" class="btn-a more-closer" style="display: none;">{{'Fewer' | translate}}...</button>
					
			<script>
				$(".smell .more-opener").click(function(){
					$(".smell-more").addClass("open");
					$(".smell .more-opener").hide();
					$(".smell .more-closer").show();
				});
				
				$(".smell .more-closer").click(function(){
					$(".smell-more").removeClass("open");
					$(".smell .more-opener").show();
					$(".smell .more-closer").hide();
				});
			</script>
		</div>
		<hr class="mt-15 mb-15" />
		<h3 class="s-title">{{'Taste' | translate}}</h3>
		<div class="form-item clearfix">
			<div class="form-name pull-left">{{'Sweetness' | translate}}</div>
			<div class="form-content pull-right">
				<div class="form-dot">
					<label class="dot-a active" for="sweetness-1"><span>very dry</span><input type="radio" name="sweetness" class="invisible" id="sweetness-1" value="1" checked /></label>
					<label class="dot-a" for="sweetness-2"><span></span><input type="radio" name="sweetness" class="invisible" id="sweetness-2" value="2" /></label>
					<label class="dot-a" for="sweetness-3"><span>off dry</span><input type="radio" name="sweetness" class="invisible" id="sweetness-3" value="3" /></label>
					<label class="dot-a" for="sweetness-4"><span></span><input type="radio" name="sweetness" class="invisible" id="sweetness-4" value="4" /></label>
					<label class="dot-a" for="sweetness-5"><span>very sweet</span><input type="radio" name="sweetness" class="invisible" id="sweetness-5" value="5" /></label>
				</div>
			</div>
		</div>
		<div class="form-item clearfix">
			<div class="form-name pull-left">{{'Acidity' | translate}}</div>
			<div class="form-content pull-right">
				<div class="form-dot">
					<label class="dot-a active" for="acidity-1"><span>low</span><input type="radio" name="acidity" class="invisible" id="acidity-1" value="1" checked /></label>
					<label class="dot-a" for="acidity-2"><span></span><input type="radio" name="acidity" class="invisible" id="acidity-2" value="2" /></label>
					<label class="dot-a" for="acidity-3"><span>medium</span><input type="radio" name="acidity" class="invisible" id="acidity-3" value="3" /></label>
					<label class="dot-a" for="acidity-4"><span></span><input type="radio" name="acidity" class="invisible" id="acidity-4" value="4" /></label>
					<label class="dot-a" for="acidity-5"><span>high</span><input type="radio" name="acidity" class="invisible" id="acidity-5" value="5" /></label>
				</div>
			</div>
		</div>
		<div class="form-item clearfix">
			<div class="form-name pull-left">{{'Tannin' | translate}}</div>
			<div class="form-content pull-right">
				<div class="form-dot">
					<label class="dot-a active" for="tannin-1"><span>low</span><input type="radio" name="tannin" class="invisible" id="tannin-1" value="1" checked /></label>
					<label class="dot-a" for="tannin-2"><span></span><input type="radio" name="tannin" class="invisible" id="tannin-2" value="2" /></label>
					<label class="dot-a" for="tannin-3"><span>medium</span><input type="radio" name="tannin" class="invisible" id="tannin-3" value="3" /></label>
					<label class="dot-a" for="tannin-4"><span></span><input type="radio" name="tannin" class="invisible" id="tannin-4" value="4" /></label>
					<label class="dot-a" for="tannin-5"><span>high</span><input type="radio" name="tannin" class="invisible" id="tannin-5" value="5" /></label>
				</div>
			</div>
		</div>
		<div class="form-item clearfix">
			<div class="form-name pull-left">{{'Body' | translate}}</div>
			<div class="form-content pull-right">
				<div class="form-dot">
					<label class="dot-a active" for="body-1"><span>light</span><input type="radio" name="body" class="invisible" id="body-1" value="1" checked /></label>
					<label class="dot-a" for="body-2"><span></span><input type="radio" name="body" class="invisible" id="body-2" value="2" /></label>
					<label class="dot-a" for="body-3"><span>med</span><input type="radio" name="body" class="invisible" id="body-3" value="3" /></label>
					<label class="dot-a" for="body-4"><span></span><input type="radio" name="body" class="invisible" id="body-4" value="4" /></label>
					<label class="dot-a" for="body-5"><span>hazyfull</span><input type="radio" name="body" class="invisible" id="body-5" value="5" /></label>
				</div>
			</div>
		</div>
		<div class="form-item clearfix pro">
			<div class="form-name pull-left">{{'Alcohol' | translate}}</div>
			<div class="form-content pull-right">
				<div class="form-dot">
					<label class="dot-a active" for="alcohol-1"><span>&lt; 10%</span><input type="radio" name="alcohol" class="invisible" id="alcohol-1" value="1" checked /></label>
					<label class="dot-a" for="alcohol-2"><span></span><input type="radio" name="alcohol" class="invisible" id="alcohol-2" value="2" /></label>
					<label class="dot-a" for="alcohol-3"><span>~13.5</span><input type="radio" name="alcohol" class="invisible" id="alcohol-3" value="3" /></label>
					<label class="dot-a" for="alcohol-4"><span></span><input type="radio" name="alcohol" class="invisible" id="alcohol-4" value="4" /></label>
					<label class="dot-a" for="alcohol-5"><span>> 15.5%</span><input type="radio" name="alcohol" class="invisible" id="alcohol-5" value="5" /></label>
				</div>
			</div>
		</div>
		<hr class="mt-30 mb-15" />
		<h3 class="s-title">{{'AddMyTastingNote' | translate}}Overall</h3>
		<div class="form-item">
			<label class="radio-a" for="overall-1"><input type="radio" name="overall" value="happy" id="overall-1" class="invisible" checked /><span></span><i class="icon-happy"></i></label>
			<label class="radio-a" for="overall-2"><input type="radio" name="overall" value="sad" id="overall-2" class="invisible" /><span></span><i class="icon-sad"></i></label>
		</div>
		<div class="btn-group text-right mt-30">
			<script>
				function pro(){
					$(".pro").addClass("open");
					$(".simple").removeClass("open");
					$(".simple-opener").show();
					$(".pro-opener").hide();
				}
				
				function simple(){
					$(".pro").removeClass("open");
					$(".simple").addClass("open");
					$(".simple-opener").hide();
					$(".pro-opener").show();
				}
			</script>
			<button type="button" class="btn-themed simple-opener" onClick="simple();" style="display: none;">{{'Fewer' | translate}}</button>
			<button type="button" class="btn-themed pro-opener" onClick="pro();">{{'More' | translate}}</button>
			<button type="submit" class="btn-themed ml-20">{{'Submit' | translate}}</button>
			<script>
				$("form").submit(function(){
					alert("Your tasting note is successfully added. Thank you for your input.");//pls keep this alert after the submission
				});
			</script>
		</div>
	</div>
	</form>
</section>

<script src="./app-content/js/bootstrap.min.js"></script>
<script src="./app-content/js/custom.js"></script>
<script>
	$('html, body').animate({
		scrollTop: 0
	}, 0);
</script>