<section class="pages pt-50 pb-50 pt-xs-30 pb-xs-30 mb-80 mb-xs-30 account login forget-pw change-pw" cg-busy="{promise:promise,templateUrl:templateUrl,message:message,backdrop:'',delay:300,minDuration:minDuration}">
	<div class="container width-990 pl-xs-20 pr-xs-20">
    <h2 class="text-center">Reset Password</h2>
    <p class="text-center pt-10 pt-xs-5 mb-50 mb-xs-20">Please enter your new password.</p>
    <form method="post" ng-submit="submit()" name="form" id="form" role="form">

      <div class="form-group mb-10">
      <div class="alert alert-danger" ng-show="errorMsg">{{errorMsg}}</div>

        <label class="pt-xs-10 pb-xs-10">New Password</label>
        <input type="password" name="new_password" class="form-control" pattern="^(?=.*\d)(?=.*[a-zA-Z]).{8,}$" oninvalid="this.setCustomValidity('At least one character and integer, at least 8 characters')"  onchange="this.setCustomValidity('')" required ng-model="formData.password" />
      </div>
      <div class="form-group mb-50 mb-xs-30">
        <label class="pt-xs-10 pb-xs-10">Confirm Password</label>
        <input type="password" name="confirm_password" class="form-control" ng-model="formData.confirm" required />
      </div>
      <div class="mb-50 mb-xs-30">
        <div class="g-recaptcha" data-sitekey="6Ld0CUIUAAAAAJ5ieh2pqXy_VfyL5ni_sZN5EsCv"></div>
      </div>
      <!-- site key: 6Ld0CUIUAAAAAJ5ieh2pqXy_VfyL5ni_sZN5EsCv
      Secret key: 6Ld0CUIUAAAAAAeekMnL_kVkyi9HVD44Ih1BljKB -->
      <div class="btn-submit mb-70 mb-xs-0">
        <button id="submit" class="btn-themed btn-confirm">Confirm</button>
        <p class="text-center mt-15 sent-message" style="display: none;">Your password is successfully reset.<br />Please use the new password for log in.</p>
        <p class="text-center mt-15 pw-message" style="display: none;">Passwords don't match.</p>
        <!--<p class="text-center mt-15" style="display: block" ng-bind-html="message"></p>-->

      </div>
    </form>
    <script>
      $("form").submit(function(){
				if($("[name='new_password']").val() != "" && $("[name='new_password']")[0].checkValidity() == true && $("[name='confirm_password']").val() != "" && $("[name='new_password']").val() == $("[name='confirm_password']").val()){
          $("[name='confirm_password']")[0].setCustomValidity('');
				}else{
          $(".sent-message").hide();
          $(".pw-message").show();
          return false;
				}
        
      //  $("form")[0].reset();
       // $(".pw-message").hide();
      //  $(".sent-message").show();
      });
    </script>
	</div>
</section>

<script src="https://www.google.com/recaptcha/api.js"></script>
<script src="./app-content/js/bootstrap.min.js"></script>
<script src="./app-content/js/custom.js"></script>