<section class="pages-banner">
	<div style="background-image: url(app-content/images/about_banner.jpg);"></div>
</section>

<section class="pages pt-80 pb-200 pt-xs-20 pb-xs-70">
	<div class="container width-990">
		<div class="nav-bar">
			<a href="#/about" class="btn-themed mr-5 inactive">{{'contact.DiscoverRootstock' | translate}}</a>
			<a href="#/contact" class="btn-themed">{{'contact.ContactUs' | translate}}</a>
		</div>
		<div class="content">
			<p>info.rootstock@mail.com<br />
			<span style="color: #8B9090;">{{'contact.message' | translate}}</span></p>
		</div>
	</div>
</section>

<script src="./app-content/js/bootstrap.min.js"></script>
<script src="./app-content/js/custom.js"></script>