<section class="merchant search pt-10 pb-90 pb-xs-20">
	<div class="container width-990 pl-xs-10 pr-xs-10">
		<div class="row pl-5 pr-5">
			<div class="col-xs-9 pl-10 pr-10 pr-xs-5">
				<div class="form-group form-search">
					<input type="text" class="form-control border-bottom short" name="keyword" placeholder="Merchant Name" />
					<button ng-click="clickSearch()"><i class="icon-search"></i></button>
				</div>
			</div>
			<div class="col-xs-3 pl-10 pr-10 pl-xs-0">
				<div class="filter clearfix pl-sm-5 pr-sm-5">
					<div class="form-group">
						<select name="region" class="form-control border-bottom short">
							<option value="">{{'Country' | translate}}</option>
							<option value="1">Lorem Ipsum xxxxx</option>
							<option value="2">Lorem Ipsum xxxxx</option>
							<option value="3">Lorem Ipsum xxxxx</option>
						</select>
						<div class="select-f border-bottom text-center"><span>{{'Country' | translate}}</span></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="product-list merchant">
	<div class="container width-990">
		<div class="clearfix mb-20 mb-xs-10 product-list-head">
			<div class="pull-left pt-5 pt-xs-0 pb-xs-5"><b>{{merchants.length}}</b> out of {{merchants.items}} merchants</div>
			<div class="pull-right">
				<div class="form-group m-0">
					<select name="sort" class="form-control">
						<option value=""></option>
						<option value="1"> {{'Relevance' | translate}}</option>
						<option value="2"> {{'Price' | translate}}</option>
						<option value="3"> {{'Popularity' | translate}}</option>
					</select>
					<div class="select-f text-center">{{'Sortby' | translate}} <span>{{'Relevance' | translate}}</span></div>
				</div>
			</div>
		</div>
	</div>
</section>
<div infinite-scroll="loadMore()" infinite-scroll-distance="1">
<section class="product-list merchant pt-40 pt-xs-20 pb-30 pb-xs-10 mb-60 mb-xs-20 bg-grey"  cg-busy="{promise:promise,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}">
	<div class="container width-990" >
		<div class="row pl-sm-5">
        
        <!--grid start-->
			<div class="col-xs-12 mb-10 mb-sm-5 wow fadeIn" ng-repeat="merchant in merchants">
				<div class="product-item long shadow border-left bg-white clearfix">
					<div class="img pull-left" style="background-image: url({{merchant.img_url}})">
						<a href="#/merchantDetails/{{merchant.id}}" class="btn-themed visible-xs">Learn More</a>
					</div>
					<div class="content pull-left xs-pull-none">
						<a href="#/merchantDetails/{{merchant.id}}"><h4 class="name mb-5">{{merchant.merchant}}</h4></a>
						<div class="madefrom"  ng-bind-html="merchant.made_from">{{merchant.made_from}}</div>
						<div class="itemno">{{merchant.items}} Items</div>
						<a href="#/merchantDetails/{{merchant.id}}" class="btn-themed hidden-xs">Learn More</a>
					</div>
					<div class="right pull-right xs-pull-none">
						<div class="desc">{{merchant.desc}}</div>
						<div class="color">
							<p ng-repeat="country in merchant.countrys"><span style="background-color: {{country.color}};"></span> {{country.ratio}} % {{country.country}}</p>
							<!--<p><span style="background-color: #F2F4F4;"></span> 25% Other</p>-->
						</div>
						<div class="pie-chart" style="background-color: #F2F4F4;">
							<div data-p=" {{country.ratio}}"  ng-repeat="country in merchant.countrys"><div style="background-color:  {{country.color}};"></div></div>
						</div>
					</div>
				</div>
			</div>
            
            
            
			
		</div>
	</div>
</section>
</div>

<script src="./app-content/js/bootstrap.min.js"></script>
<script src="./app-content/js/custom.js"></script>