<section class="top-title-bar pt-10 pb-30 pb-xs-20">
	<div class="container width-990">
    <h2>Profile</h2>
  </div>
</section>

<section class="profile-detail my-profile">
  <form method="post" ng-submit="saveProfile()">
	<div class="container width-990">
    <div class="content pt-60 pt-xs-20 pb-60 pb-xs-40">
      <div class="row">
        <div class="col-sm-3 col-xs-12">
          <div class="user">
            <div class="user-img" style="background-image: url({{user.img_url}});" data-ol-img="{{user.img_url}}">
              <div class="upload-img hide">
                <input type="file" name="profile_img" id="profile_img" accept="image/*" />
                <label for="profile_img">Upload</label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12 profile-content pt-10 pt-xs-20 pl-0 pl-xs-15">
          <div class="item">
            <span>First Name</span>{{user.fname}}
          </div>
          <div class="item">
            <span>Last Name</span>{{user.lname}}
          </div>
          <div class="item">
            <span>Birthday</span>{{user.bYear}}/{{user.bMonth}}/{{user.bDay}}
          </div>
          <div class="item">
            <span>User Name</span>{{user.username}}
          </div>
          <div class="item">
            <span>Email</span>{{user.email}}
          </div>
          <div class="item preview">
            <span>Password</span>********
          </div>
          <div class="item edit hide">
            <span>New Password</span>
            <div class="form-group">
              <input type="password" class="form-control" name="password" pattern="(?=.*\d).{6,}" required ng-model="form.password" />
              <div class="reminder">At least 6 characters with at least one number</div>
            </div>
          </div>
          <div class="item edit hide">
            <span>Confirm New Password</span>
            <div class="form-group">
              <input type="password" class="form-control" name="confirm_password" pattern="(?=.*\d).{6,}" required ng-model="form.cmpassword"/>
            </div>
          </div>
          <script>
            $("form").submit(function(e){
              e.preventDefault();
              $(".profile-detail .updated-msg").removeClass("hide");
              $(".profile-detail .btn-edit").removeClass("hide");
              $(".profile-detail .btn-save").addClass("hide");
              $(".profile-detail .btn-cancel").addClass("hide");
              $(".profile-detail .item.preview").removeClass("hide");
              $(".profile-detail .item.edit").addClass("hide");
              $(".profile-detail .upload-img").addClass("hide");
            });
            
            $(".profile-detail .btn-edit").click(function(e){
              e.preventDefault();
              $(this).addClass("hide");
              $(".profile-detail .updated-msg").addClass("hide");
              $(".profile-detail .btn-save").removeClass("hide");
              $(".profile-detail .btn-cancel").removeClass("hide");
              $(".profile-detail .item.preview").addClass("hide");
              $(".profile-detail .item.edit").removeClass("hide");
              $(".profile-detail .upload-img").removeClass("hide");
              $("form")[0].reset();
            });
            
            $(".profile-detail .btn-cancel").click(function(e){
              e.preventDefault();
              $(this).addClass("hide");
              $(".profile-detail .btn-edit").removeClass("hide");
              $(".profile-detail .btn-save").addClass("hide");
              $(".profile-detail .item.preview").removeClass("hide");
              $(".profile-detail .item.edit").addClass("hide");
              $(".profile-detail .upload-img").addClass("hide");
            });

            $("[name='confirm_password']").change(function(){
              confirm_password();
            });

            function confirm_password(){
              $("[name='confirm_password']")[0].setCustomValidity('');
              if($("[name='confirm_password']").val() != "" && $("[name='confirm_password']")[0].checkValidity() == true && $("[name='confirm_password']").val() == $("[name='password']").val()){
                $("[name='confirm_password']")[0].setCustomValidity('');
              }else{
                $("[name='confirm_password']")[0].setCustomValidity("Passwords don't match.");
              }
            }
            confirm_password();
          </script>
        </div>
        <div class="col-sm-3 col-xs-12 clearfix btns">
          <a href="" class="btn-themed btn-edit">Edit</a>
          <button class="btn-themed btn-save hide">Save</button>
          <a href="" class="btn-themed btn-cancel hide">Cancel</a>
          <div class="updated-msg hide">Your profile is updated.</div>
        </div>
      </div>
    </div>
  </div>
  </form>
</section>

<script src="./app-content/js/bootstrap.min.js"></script>
<script src="./app-content/js/custom.js"></script>
<script>
	$('html, body').animate({
		scrollTop: 0
	}, 0);
  $('.btn-cancel').click(function(){
    window.history.back();
  });
</script>