<section class="pages-banner">
	<div style="background-image: url(app-content/images/about_banner.jpg);"></div>
</section>

<section class="pages pt-80 pb-200 pt-xs-20 pb-xs-70">
	<div class="container width-990">
		<div class="nav-bar">
			<a href="#/policy" class="btn-themed mr-5 ">{{'policy.title' | translate}}</a>
			<a href="#/terms" class="btn-themed inactive">{{'terms.title' | translate}}</a>
		</div>
		<div class="content">
			<p ng-bind-html="'policy.content' | translate"></p>
		</div>
	</div>
</section>

<script src="./app-content/js/bootstrap.min.js"></script>
<script src="./app-content/js/custom.js"></script>