<div class="product-item long shadow bg-white clearfix">
					<div class="img pull-left">
						<a href="{{product.catalog.img}}" class="product-img-popup"><img ng-src="{{product.catalog.img}}" /></a>
						<div class="visible-xs text-center p-15 pt-10 pb-10">
							<div class="price mb-5" ng-bind-html="product.price | currency:$:0"></div>
							<a href="#/productDetails/{{product.catalog.name}}/{{product.catalog.vintage}}" class="btn-themed">Learn More</a>
						</div>
					</div>
					<div class="content pull-left">
						<a href="#/productDetails/{{product.catalog.name}}/{{product.catalog.vintage}}"><h4 class="name mb-5" ng-bind-html="product.catalog.name"></h4></a>
						<div class="year mb-5" ng-bind-html="product.catalog.vintage"></div>
						<div class="clearfix">
							<div class="pull-left">
								<div class="score mb-15 mb-xs-20"  >
									<i class="icon-happy"></i> <span  ng-bind-html="$root.getHappy(product.overall_tasting_note)"></span>
									<i class="icon-sad"></i> <span  ng-bind-html="$root.getSad(product.overall_tasting_note)"></span>
								</div>
                                <div  ng-if=" product.overall_tasting_note.smells.length>0">
                                    <div class="color mb-15"><span style="background-color: {{product.overall_tasting_note.color.base}};">{{product.overall_tasting_note.color.base}}</span></div>
                                    <ul class="icons mb-20 mb-xs-10">
                                        <li tabindex="-1" ng-repeat="smell in product.overall_tasting_note.smells">
                                            <i class="icon-{{smell.name}}" style="background-image: url('{{smell.img_url}}');"></i>
                                            <div ng-bind-html="smell.vote">987</div><span ng-bind-html="smell.name">Strawberry</span>
                                        </li>
                                        <!--<li tabindex="-1"><i class="icon-cherry"></i><div>762</div><span>Cherry</span></li>
                                        <li tabindex="-1"><i class="icon-lemon"></i><div>991</div><span>Lemon</span></li>
                                        <li tabindex="-1"><i class="icon-apple"></i><div>546</div><span>Apple</span></li>-->
                                    </ul>
                                    <a ng-if="$root.globals.currentUser" href="#/addMyTastingNote/{{product.catalog.name}}/{{product.catalog.vintage}}" class="add-to-note">Add My Tasting Note</a>
                                </div>
                                <div  ng-if=" product.overall_tasting_note.smells.length==null">
                                 	<a ng-if="$root.globals.currentUser" href="#/addMyTastingNote/{{product.catalog.name}}/{{product.catalog.vintage}}" class="add-to-note">Be the first to review this wine</a>
                                </div>
							</div>
							<div class="pull-right pt-20 pt-xs-30">
								<div class="ability-chart-wrapper">
									<div class="ability-bg"><span></span><span></span><span></span><span></span></div>
									<div class="ability-chart">
										<div data-title="sweetness">
                           		<span ng-repeat="n in [].constructor($root.parseInteger(product.overall_tasting_note.taste.sweetness)) track by $index"></span>
                            </div>
                            <div data-title="acidity">
                                <span ng-repeat="n in [].constructor($root.parseInteger(product.overall_tasting_note.taste.acidity)) track by $index"></span>
                            </div>
                            <div data-title="Body">
                                <span ng-repeat="n in [].constructor($root.parseInteger(product.overall_tasting_note.taste.body)) track by $index"></span>
                            </div>
                            <div data-title="Tannin">
                                <span ng-repeat="n in [].constructor($root.parseInteger(product.overall_tasting_note.taste.tannin)) track by $index"></span>
                            </div>
									</div>
									<div class="ability-text">
										<svg viewBox="0 0 200 200">
										  <path id="curve1" fill="rgba(0,0,0,0)" d="M0 100 C 0 44.77, 44.77 0, 100 0" />
										  <text>
											<textPath xlink:href="#curve1" startOffset="50%" text-anchor="middle">
											  sweetness
											</textPath>
										  </text>
										  <path id="curve2" fill="rgba(0,0,0,0)" d="M100 0 C 155.23 0, 200 44.77, 200 100" />
										  <text>
											<textPath xlink:href="#curve2" startOffset="50%" text-anchor="middle">
											  acidity
											</textPath>
										  </text>
										  <path id="curve3" fill="rgba(0,0,0,0)" d="M200 100 C 200 155.23, 155.23 200, 100 200" />
										  <text>
											<textPath xlink:href="#curve3" startOffset="50%" text-anchor="middle">
											  Tannin
											</textPath>
										  </text>
										  <path id="curve4" fill="rgba(0,0,0,0)" d="M100 200 C 44.77 200, 0 155.23, 0 100" />
										  <text>
											<textPath xlink:href="#curve4" startOffset="50%" text-anchor="middle">
											  Body
											</textPath>
										  </text>
										</svg>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="right pull-right text-center line-height-1">
						<div class="discount mb-30" >-{{(product.catalog.price_org - product.inventories[0].price)/product.catalog.price_org * 100| number :0 }}%</div>
						<div class="p-20 pt-0">
							<div class="mb-15 font-15" ><del ng-bind-html="product.price_org | currency:$:0">$1,200</del></div>
							<div class="price mb-10" ng-bind-html="product.price | currency:$:0">$900</div>
							<div class="merchant" ng-bind-html="product.inventories[0].merchant"></div>
							<div class="merchant-more pt-10" ng-if=" product.inventories.length>1">
								<div class="pt-10"><a href="" class="more">More...</a></div>
								<div class="content">
									<p ng-repeat="merchant in product.inventories">
                                    <a href="{{merchant.merchant_url}}" ><span ng-bind-html="merchant.merchant">Merchant 2</span> <span ng-bind-html="merchant.price  | currency:$:0">$920</span></a>
                                    </p>
									<!--<p>Merchant 3  $925</p>
									<p>Merchant 4  $930</p>
                                    -->
								</div>
							</div>
							<!--<a ng-href="product.inventories[0].merchant_url"  class="btn-themed">Learn More</a>-->
							<a href="#/productDetails/{{product.catalog.name}}/{{product.catalog.vintage}}"  class="btn-themed">Learn More</a>
						</div>
					</div>
				</div>
                <script src="./app-content/js/custom.js?v=<?=time()?>"></script>