<section class="top-title-bar pt-10 pb-30 pb-xs-20">
	<div class="container width-990">
    <h2>Profile</h2>
  </div>
</section>

<section class="profile-detail">
	<div class="container width-990">
    <div class="content pt-60 pt-xs-40 pb-60 pb-xs-40">
      <div class="user">
        <div class="user-img" style="background-image: url({{user.img_url}});"></div>
        <div class="name">{{user.username}}</div>
      </div>
    </div>
  </div>
</section>

<section class="latest-notes pt-60 pt-xs-30 profile">
	<div class="container width-990">
		<h2 class="title m-0 mb-20">Tasting Input Record</h2>
	</div>
	<div class="product-list pt-30 pt-xs-15 pb-30 pb-xs-10 mb-60 mb-xs-20">
		<div class="container width-990">
			<div class="row pl-sm-5">
            <div class="col-xs-12 mb-10 mb-sm-5 wow fadeIn" ng-repeat="note in notesList">
                	<div class="note-item shadow bg-white">
                		<div class="no"  ng-bind-html="note.create_time">2017-12-04 13:55</div>
                          <a href="#/productDetails/{{note.productid}}"><h4 class="name" ng-bind-html="note.product_name">Chateau Bordeneuve, Bordeaux, France</h4></a>
                          <div class="user mt-20 mt-xs-15">
                            <i class="icon-{{note.happiness}}"></i>
                          </div>
             
                		<div class="smell mt-30 clearfix">
                			<span class="pull-left">Smell:</span>
                			<div class="pull-left">
								<i class="icon-{{smell.taste}}" ng-repeat=" smell in note.tasting_note.smell"></i>
								<!--<i class="icon-cherry"></i>
								<i class="icon-lemon"></i>
								<i class="icon-apple"></i>
								<i class="icon-strawberry"></i>
								<i class="icon-cherry"></i>
								<i class="icon-lemon"></i>
								<i class="icon-apple"></i>
                                -->
                			</div>
                		</div>
                        <div class="details row mt-10" ng-if="note.details != null">
                			<div class="col-sm-6 col-xs-12 item clearfix">
                				<span class="pull-left">Color:</span>
                				<div class="pull-left color"><span style="background-color: {{note.details.color_hex}};"></span> {{note.details.color}}</div>
                			</div>
                			<div class="col-sm-6 col-xs-12 item clearfix">
                				<span class="pull-left">Legs:</span>
                				<div class="pull-left"><span class="bar-{{note.details.legs}}"></span></div>
                			</div>
                			<div class="col-sm-6 col-xs-12 item clearfix">
                				<span class="pull-left">Clarity:</span>
                				<div class="pull-left"><span class="bar-{{note.details.clarity}}"></span></div>
                			</div>
                			<div class="col-sm-6 col-xs-12 item clearfix">
                				<span class="pull-left">Deposit:</span>
                				<div class="pull-left"><span class="bar-{{note.details.deposit}}"></span></div>
                			</div>
                			<div class="col-sm-6 col-xs-12 item clearfix">
                				<span class="pull-left">Intensit:</span>
                				<div class="pull-left"><span class="bar-{{note.details.intensit}}"></span></div>
                			</div>
                			<div class="col-sm-6 col-xs-12 item clearfix">
                				<span class="pull-left">Bubbles:</span>
                				<div class="pull-left"><span class="bar-{{note.details.bubbles}}"></span></div>
                			</div>
                		</div>
                        <div class="ability-chart-wrapper pie-5" ng-if="note.details != null">
							<div class="pie-chart" style="background-color: #F2F4F4;">
								<div data-p="20" data-s="{{note.tasting_note.acidity}}"><div style="background-color: #EA3223;"></div></div>
								<div data-p="20" data-s="{{note.tasting_note.alcohol}}"><div style="background-color: #A16AF7;"></div></div>
								<div data-p="20" data-s="{{note.tasting_note.tannin}}"><div style="background-color: #377E22;"></div></div>
								<div data-p="20" data-s="{{note.tasting_note.body}}"><div style="background-color: #F8D849;"></div></div>
								<div data-p="20" data-s="{{note.tasting_note.sweetness}}"><div style="background-color: #0013F5;"></div></div>
							</div>
							<div class="ability-bg"><span></span><span></span><span></span><span></span></div>
							<div class="ability-bg"><div></div></div>
							<div class="ability-text">
								<svg viewBox="0 0 200 200">
								  <path id="curve5" fill="rgba(0,0,0,0)" d="M100 0 C 155.23 0, 200 44.77, 200 100 C 200 155.23, 155.23 200, 100 200 C 44.77 200, 0 155.23, 0 100 C 0 44.77, 44.77 0, 100 0" />
								  <text>
									<textPath xlink:href="#curve5" startOffset="10%" text-anchor="middle">
									  acidity
									</textPath>
								  </text>
								  <text>
									<textPath xlink:href="#curve5" startOffset="30%" text-anchor="middle">
									  Alcohol
									</textPath>
								  </text>
								  <text>
									<textPath xlink:href="#curve5" startOffset="50%" text-anchor="middle">
									  Tannin
									</textPath>
								  </text>
								  <text>
									<textPath xlink:href="#curve5" startOffset="70%" text-anchor="middle">
									  Body
									</textPath>
								  </text>
								  <text>
									<textPath xlink:href="#curve5" startOffset="90%" text-anchor="middle">
									  sweetness
									</textPath>
								  </text>
								</svg>
							</div>
						</div>
						<div class="ability-chart-wrapper"  ng-if="note.details == null">
							<div class="ability-bg"><span></span><span></span><span></span><span></span></div>
							<div class="ability-chart">
								<div data-title="sweetness">
                           			<span ng-repeat="n in [].constructor(note.tasting_note.sweetness) track by $index"></span>
                                </div>
                                <div data-title="acidity">
                                    <span ng-repeat="n in [].constructor(note.tasting_note.acidity) track by $index"></span>
                                </div>
                                <div data-title="Body">
                                    <span ng-repeat="n in [].constructor(note.tasting_note.body) track by $index"></span>
                                </div>
                                <div data-title="Tannin">
                                    <span ng-repeat="n in [].constructor(note.tasting_note.tannin) track by $index"></span>
                                </div>
							</div>
							<div class="ability-text">
								<svg viewBox="0 0 200 200">
								  <path id="curve1" fill="rgba(0,0,0,0)" d="M0 100 C 0 44.77, 44.77 0, 100 0" />
								  <text>
									<textPath xlink:href="#curve1" startOffset="50%" text-anchor="middle">
									  sweetness
									</textPath>
								  </text>
								  <path id="curve2" fill="rgba(0,0,0,0)" d="M100 0 C 155.23 0, 200 44.77, 200 100" />
								  <text>
									<textPath xlink:href="#curve2" startOffset="50%" text-anchor="middle">
									  acidity
									</textPath>
								  </text>
								  <path id="curve3" fill="rgba(0,0,0,0)" d="M200 100 C 200 155.23, 155.23 200, 100 200" />
								  <text>
									<textPath xlink:href="#curve3" startOffset="50%" text-anchor="middle">
									  Tannin
									</textPath>
								  </text>
								  <path id="curve4" fill="rgba(0,0,0,0)" d="M100 200 C 44.77 200, 0 155.23, 0 100" />
								  <text>
									<textPath xlink:href="#curve4" startOffset="50%" text-anchor="middle">
									  Body
									</textPath>
								  </text>
								</svg>
							</div>
						</div>
              <div class="like">
                <div class="item">
                  <a href="#"><i class="icon-like"></i></a> {{note.like}}
                </div>
                <div class="item">
                  <a href="#"><i class="icon-dislike"></i></a> {{note.dislike}}
                </div>
              </div>
                	</div>   
                </div>
                
                
          
          
          
          
          <div class="col-xs-12 text-center pt-50 pb-30 pt-xs-20 pb-xs-10 show-more">
            <a href="" ng-click="loadmore()" ng-if="!loadEnd">Show More</a>
          </div>
      </div>
		</div>
	</div>
</section>

<script src="./app-content/js/bootstrap.min.js"></script>
<script src="./app-content/js/custom.js"></script>