<section class="pages pt-50 pb-50 pt-xs-30 pb-xs-30 mb-80 mb-xs-30 account">
	<div class="container width-990">
    <h2 class="text-center">Sign Up for Rootstock</h2>
    <form method="post" ng-submit="register()">
      <div class="form-group mb-10">
        <label class="pt-xs-10 pb-xs-10">First Name</label>
        <input type="text" name="first_name" class="form-control" required ng-model="form.first_name"/>
      </div>
      <div class="form-group mb-10">
        <label class="pt-xs-10 pb-xs-10">Last Name</label>
        <input type="text" name="last_name" class="form-control" required  ng-model="form.last_name"/>
      </div>
      <div class="form-group mb-10">
        <label class="pt-xs-10 pb-xs-10">User Name</label>
        <input type="text" name="user_name" class="form-control" required  ng-model="form.username"/>
      </div>
      <div class="form-group mb-10">
        <label class="pt-xs-10 pb-xs-10">Email</label>
        <input type="email" name="email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required ng-model="form.email" />
      </div>
      <div class="form-group mb-10">
        <label class="pt-xs-10 pb-xs-10">Password</label>
        <input type="password" name="password" class="form-control" pattern="^(?=.*\d)(?=.*[a-zA-Z]).{8,}$" required ng-model="form.password"/>
        <div class="form-ok"></div>
        <div class="reminder">At least one character and integer, at least 8 characters</div>
      </div>
      <div class="form-group mb-10">
        <label class="pt-xs-10 pb-xs-10">Confirm Password</label>
        <input type="password" name="confirm_password" class="form-control" required ng-model="form.passwordConfirm"/>
        <div class="form-ok"></div>
      </div>
      <div class="form-group mb-10">
        <label class="pt-xs-10 pb-xs-10">Birthday</label>
        <div class="row">
          <div class="col-xs-4">
            <div class="relative">
              <select name="birthday_month" class="form-control short" required ng-model="form.bMonth">
                <option value="">Month</option>
                <option value="01">01</option>
                <option value="02">02</option>
                <option value="03">03</option>
                <option value="04">04</option>
                <option value="05">05</option>
                <option value="06">06</option>
                <option value="07">07</option>
                <option value="08">08</option>
                <option value="09">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
              </select>
              <div class="select-f"><span>Month</span></div>
              <div class="select-f-list">
                <optiont value="">Month</optiont>
                <optiont value="01">01</optiont>
                <optiont value="02">02</optiont>
                <optiont value="03">03</optiont>
                <optiont value="04">04</optiont>
                <optiont value="05">05</optiont>
                <optiont value="06">06</optiont>
                <optiont value="07">07</optiont>
                <optiont value="08">08</optiont>
                <optiont value="09">09</optiont>
                <optiont value="10">10</optiont>
                <optiont value="11">11</optiont>
                <optiont value="12">12</optiont>
              </div>
              <script>
              </script>
            </div>
          </div>
          <div class="col-xs-4">
            <input type="number" name="birthday_day" class="form-control text-center" placeholder="Day" min="1" max="31" required ng-model="form.bDay"/>
          </div>
          <div class="col-xs-4">
            <input type="text" name="birthday_year" class="form-control text-center" placeholder="Year" pattern="[0-9]{4}" required ng-model="form.bYear"/>
          </div>
        </div>
      </div>
      <div class="form-statement text-center pt-40 pb-40 pt-xs-30 pb-xs-30">
        By clicking on "Sign Up", I agree with Rootstock's <a href="#/terms" target="_blank">Terms and Conditions</a> and <a href="#/policy" target="_blank">Privacy Policy</a>.
      </div>
      <div class="btn-submit mb-40 mb-xs-30">
        <button id="submit" class="btn-themed">Sign Up</button>
        <p class="text-center mt-15 not-above-18" style="display: none; color: red;">Sorry, account registration is only available for 18 years-old or above.</p>
      </div>
      <div class="have-account text-center">
        <span><a href="#/login">Already have an account? Login</a></span>
      </div>
    </form>
    <script>
			$("[name='password']").change(function(){
        $("[name='password']")[0].setCustomValidity('');
        $("[name='confirm_password").removeClass("ok");
        if($("[name='password']")[0].checkValidity() == false){
          $("[name='password']")[0].setCustomValidity("At least 6 characters with at least one number");
          $("[name='password").removeClass("ok");
        }else{
          $("[name='confirm_password']").attr("pattern", $(this).val());
					$("[name='password']").addClass("ok");
        }
			});
			
			$("[name='confirm_password']").change(function(){
        $("[name='confirm_password']")[0].setCustomValidity('');
        if($("[name='confirm_password']")[0].checkValidity() == false){
          $("[name='confirm_password']")[0].setCustomValidity("Passwords don't match.");
					$("[name='confirm_password']").removeClass("ok");
        }else{
          $("[name='confirm_password']")[0].setCustomValidity('');
					$("[name='confirm_password']").addClass("ok");
        }
			});
			
			/*function password(){
				if($("[name='password']").val() != "" && $("[name='password']")[0].checkValidity() == true){
					$("[name='password']").addClass("ok");
					$("[name='confirm_password").removeClass("ok");
				}else{
					$("[name='password']").removeClass("ok");
					$("[name='confirm_password").removeClass("ok");
				}
			}
			password();
			
			function confirm_password(){
        $("[name='confirm_password']")[0].setCustomValidity('');
				if($("[name='confirm_password']").val() != "" && $("[name='confirm_password']")[0].checkValidity() == true && $("[name='confirm_password']").val() == $("[name='password']").val()){
					$("[name='confirm_password']").addClass("ok");
          $("[name='confirm_password']")[0].setCustomValidity('');
				}else{
					$("[name='confirm_password']").removeClass("ok");
          $("[name='confirm_password']")[0].setCustomValidity("Passwords don't match.");
				}
			}
			confirm_password();*/
      
      $("#submit").click(function(){
				if($("[name='birthday_year']").val() != "" && $("[name='birthday_year']").val() > (new Date).getFullYear() - 18){
          $(".not-above-18").show();
          return false;
				}else{
          $(".not-above-18").hide();
        }
		

        //alert("You are successfully registered. Welcome to RootStock222.");
     //   window.location.href = "#";
      });
    </script>
	</div>
</section>

<script src="./app-content/js/bootstrap.min.js"></script>
<script src="./app-content/js/custom.js"></script>