<section class="home-search pt-10 pb-110 pb-xs-30">
	<div class="container-fluid pl-xs-10 pr-xs-10">
		<h1 class="big-title m-0 mb-5 text-center">Rootstock</h1>
		<p class="desc text-center pb-30 mb-0 pb-xs-20">Find your ideal wine for the best price</p>
		<div class="form-group mt-5 form-search">
			<input type="text" class="form-control border-bottom short" name="keyword" placeholder="Wine Name" ng-model="data.keyword" bs-options="state for state in $root.searchKeyword(data.keyword)"  bs-typeahead bs-on-select="$root.clickSearch"  />
			<button ng-click="clickSearch()"><i class="icon-search" ></i></button>
		</div>
	</div>
</section>