
<form method="GET" name="searchForm" id="searchForm"><section class="search pt-10 pb-40 pb-xs-10">
    <div class="container width-990 pl-xs-10 pr-xs-10">
        <div class="form-group form-search">
            <input type="text" class="form-control border-bottom short" name="keyword" placeholder="Wine Name" ng-model="data.keyword" />
            <button ng-click="$root.clickSearch()"><i class="icon-search"></i></button>
        </div>
        <div class="filter clearfix pl-sm-5 pr-sm-5">
            <div class="form-group">
                <input type="text" class="form-control border-bottom short" name="year" placeholder="Year" minlength="4" maxlength="4" pattern="\d*"  ng-model="data.year"/>
            </div>
            <div class="form-group">
                <select name="region" class="form-control border-bottom short" ng-model="data.region">
                    <option value="">Region</option>
                    <option ng-repeat="option in $root.regions" value="{{option.key}}" ng-selected="option.key == data.region">{{option.value}}</option>
                    
                </select>
                <div class="select-f border-bottom text-center" ol-title="Region"><span>Region</span></div>
            </div>
            <div class="form-group">
                <select name="price" class="form-control border-bottom short" ng-model="data.price" >
                    <option value=""></option>
                    <option ng-repeat="option in $root.prices" value="{{option.key}}" ng-selected="option.key == data.price">{{option.value}}</option>
                </select>
                <div class="select-f border-bottom text-center" ol-title="Price"><span>Price</span></div>
            </div>
            <div class="form-group">
                <select name="style" class="form-control border-bottom short" ng-model="data.style" >
                    <option value=""></option>
                     <option ng-repeat="option in $root.styles" value="{{option.key}}" ng-selected="option.key == data.style">{{option.value}}</option>
                </select>
                <div class="select-f border-bottom text-center" ol-title="Style"><span>Style</span></div>
            </div>
            <div class="form-group">
                <select name="grapes" class="form-control border-bottom short" ng-model="data.grapes" >
                    <option value=""></option>
                     <option ng-repeat="option in $root.grapes" value="{{option.key}}" ng-selected="option.key == data.grapes">{{option.value}}</option>
                </select>
                <div class="select-f border-bottom text-center" ol-title="Grapes"><span>Grapes</span></div>
            </div>
        </div>
    </div>
</section>

  <script src="./app-content/js/custom.js"></script>