<search-bar data='searchData'></search-bar>
<section class="product-list pb-5 pb-xs-0">
    <div class="container width-990">
        <div class="clearfix mb-20 mb-xs-10 product-list-head">
            <div class="pull-left pt-5 pt-xs-0 pb-xs-5"><b>{{searchResult.length}}</b> out of {{totalItems}} wines</div>
            <div class="pull-right">
                <div class="form-group m-0">
                   <select name="sort" class="form-control"  ng-model="sortby" ng-change="changeSortBy()">
						<option value=""></option>
						<option value="relevance"> {{'Relevance' | translate}}</option>
						<option value="price"> {{'Price' | translate}}</option>
						<option value="popularity"> {{'Popularity' | translate}}</option>
					</select>
					<div class="select-f text-center">{{'Sortby' | translate}} <span>{{'Relevance' | translate}}</span></div>
                <div class="select-f-list">
                  <optiont value=""></optiont>
                  <optiont value="relevance"> {{'Relevance' | translate}}</optiont>
                  <optiont value="price"> {{'Price' | translate}}</optiont>
                  <optiont value="popularity"> {{'Popularity' | translate}}</optiont>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div infinite-scroll="loadMore()" infinite-scroll-distance="1">
    <section class="product-list pt-30 pt-xs-15 pb-30 pb-xs-10 mb-60 mb-xs-20 bg-grey" cg-busy="{promise:promise,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}">
        <div class="container width-990 pl-sm-10 pr-sm-10">
            <div class="row pl-sm-5">
                <div class="col-xs-12 mb-10 mb-sm-5 wow fadeIn" ng-repeat="product in searchResult track by $index">
                 <product-item product='product'></product-item>
                    
                </div>
               
            </div>
        </div>
    </section>
</div>
<script src="./app-content/js/bootstrap.min.js"></script>
<script src="./app-content/js/custom.js"></script>